<div class="modal-header" style="padding: 15px">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true" style="font-size: 30px;">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h6 class="modal-title">调拨</h6>
</div>
<div class="modal-body">
    <div class="row">

        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>库存信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                商品编号
                            </label>

                            <div class="col-sm-10 control-label" style="text-align: left">
                                <span id="w_part_num_label"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                规格/型号
                            </label>

                            <div class="col-sm-10 control-label" style="text-align: left">
                                <span id="w_size_label"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                单位
                            </label>

                            <div class="col-sm-10 control-label" style="text-align: left">
                                <span id="w_measurement_label"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                入库单号
                            </label>

                            <div class="col-sm-10 control-label" style="text-align: left">
                                <span id="w_stock_in_id_label"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                所属仓库
                            </label>

                            <div class="col-sm-10 control-label" style="text-align: left">
                                <span id="w_repertory_label"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                数量
                            </label>

                            <div class="col-sm-10 control-label" style="text-align: left">
                                <span id="w_num_label"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-title">
                    <h5>调拨信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <span class="input-required">*</span>调拨到
                            </label>

                            <div class="col-sm-10">
                                <label for="w_repertory" class="sr-only">调拨到</label>
                                <select class="combobox form-control" id="w_repertory">
                                    <option value="" selected="selected">调拨到</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <span class="input-required">*</span>调拨数量
                            </label>

                            <div class="col-sm-10">
                                <input type="text" id="w_num" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                调拨原因
                            </label>

                            <div class="col-sm-10">
                                <input type="text" id="w_remark" class="form-control">
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">返回</button>
    <button type="button" class="btn btn-primary" onclick="saveInfo()">确认</button>
</div>
<script>

    var partNum = "";
    $(function () {
        if (app.win_url.indexOf("?key=") > 0) {
            app.win_key = decodeURIComponent(app.win_url.split("?key=")[1]);
        }

        $("#w_num").TouchSpin({
            max: 1000000,
            min: 0,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });

        app.initCombobox({
            url: 'GetRepertoryInfo',
            callback_params: {
                id: 'w_repertory',
            }
        });

        var options = {
            url: 'GetStockWithKey',
            data: {
                ID: parseInt(app.win_key),
            },
            callback: initStockInfo,
            callback_params: {}
        };

        app.execPostRequest(options);

    });

    function initStockInfo(res, param) {
        res = eval("(" + res + ")");
        if (res.code == 10000) {
            if (res.data == null) {
                return;
            }
            var info = res.data;
            partNum = info.PartNum;
            $("#w_part_num_label").html(info.PartNum);
            $("#w_size_label").html(info.Size);
            $("#w_measurement_label").html(info.Measurement);
            $("#w_stock_in_id_label").html(info.StockInID);
            $("#w_repertory_label").html(info.RepertoryName);
            $("#w_num_label").html(info.Number);
        }
    }

    function saveInfo() {
        var repertory = $("#w_repertory").val();
        if (repertory.trim() == "") {
            app.warning("请选择调拨仓库");
            return;
        } else {
            repertory = parseInt(repertory.trim());
        }

        var num = $("#w_num").val();
        if (num.trim() == "") {
            app.warning("请选择调拨数量");
            return;
        } else {
            num = parseInt(num.trim());
        }

        var changeReason = $("#w_remark").val();

        var options = {
            url: 'ChangeStock',
            data: {
                ID: parseInt(app.win_key),
                PartNum: partNum,
                ToRepertoryID: parseInt(repertory),
                Number: num,
                ChangeReason: changeReason,
            },
            callback: app.saveCallbackWindow,
            callback_params: {
                action: "add",
                refresh: stock_list_refresh,
                key: 'new_key',
                oldKey: parseInt(app.win_key),
            }
        };

        app.execPostRequest(options);
    }

</script>