<div class="modal-header" style="padding: 15px">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true" style="font-size: 30px;">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h6 class="modal-title">关联出库</h6>
</div>
<div class="modal-body">
    <div class="row">

        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>更换配件预估</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal" id="w_part_label">
                    </div>
                    <label class="control-label" id="w_price_in_lable">
                        总配件成本：
                    </label>
                </div>
                <div class="ibox-title">
                    <h5>商品选择</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-inline" style="margin-bottom: 10px;">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="w_type" class="sr-only">类别</label>
                                    <select class="combobox form-control" id="w_type" onchange="doTypeChange()">
                                        <option value="" selected="selected">类别</option>
                                        <option value="工具">工具</option>
                                        <option value="易耗品">易耗品</option>
                                        <option value="配件">配件</option>
                                        <option value="检验仪器">检验仪器</option>
                                        <option value="调试设备">调试设备</option>
                                        <option value="设备">设备</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="w_part_name" class="sr-only">商品名称</label>
                                    <select class="combobox form-control" id="w_part_name" onchange="doPartNameChange()">
                                        <option value="" selected="selected">商品名称</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="w_part_num" class="sr-only">商品编号</label>
                                    <select class="combobox form-control" id="w_part_num" onchange="doPartNumChange()">
                                        <option value="" selected="selected">商品编号</option>
                                    </select>
                                </div>
                            </div>
                            <button class="btn btn-primary" onclick="getPartList()">查询</button>
                        </div>

                        <div class="form-group">
                            <div class="jqGrid_wrapper" id="w_wrapper">
                                <table id="w_table"></table>
                                <div id="w_pager"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-title">
                    <h5>更换配件</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal" id="w_part_list">


                    </div>
                    <label class="control-label" id="w_price_out_lable">
                        总配件成本：
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">返回</button>
    <button type="button" class="btn btn-primary" onclick="saveInfo()">确认</button>
</div>
<script>

    var idMap = new Map();
    var idPrice = new Map();
    var originPart = new Map();

    var idIndex = 0;

    var gridOptions = {
        getParam: function () {
            var partNum = $("#w_part_num").val();

            if (partNum.trim() == "") {
                partNum = 0;
            } else {
                partNum = parseInt(partNum);
            }

            var partName = $("#w_part_name").val();
            var partType = $("#w_type").val();

            var postData = $("#w_table").jqGrid('getGridParam', 'postData');
            var rowNum = 3;
            var page = 1;
            if (postData) {
                rowNum = postData.rows;
                page = postData.page;
            }

            var url = $("#w_table").jqGrid('getGridParam', 'url');
            var data = {
                PartID: partNum,
                PartName: partName,
                PartType: partType,
                Start: (page - 1) * rowNum,
                Num: parseInt(rowNum),
            }

            data = JSON.stringify(data);
            var syn = md5(data + app.key)
            return {
                data: data,
                syn: syn,
            };
        }
    }

    $(function () {
        if (app.win_url.indexOf("?key=") > 0) {
            app.win_key = decodeURIComponent(app.win_url.split("?key=")[1]);
        }
        //获取info
        var options = {
            url: 'GetOfferWithKey',
            data: {
                ID: parseInt(app.win_key),
            },
            callback: initOfferInfo,
            callback_params: {}
        };

        app.execPostRequest(options);

        $("#w_type").combobox();

        app.initCombobox({
            url: 'GetPartNameList',
            callback_params: {
                id: 'w_part_name',
            }
        });

        app.initCombobox({
            url: 'GetPartNumList',
            callback_params: {
                id: 'w_part_num',
            }
        });

        initGrid();

    });

    function initOfferInfo(res, param) {
        res = eval("(" + res + ")");
        if (res.code == 10000) {
            if (res.data == null) {
                return;
            }
            var info = res.data;
            if (info.PartList && info.PartList.length > 0) {
                info.PartList.forEach(function (v, i, a) {
                    if (originPart.has(v.PartID)) {
                        var num = originPart.get(v.PartID);
                        originPart.set(v.PartID, num + v.Number);
                    } else {
                        originPart.set(v.PartID, v.Number);
                    }
                    initPartItemHtmlWithItem(v);
                });
            }

            if (info.StockOutList && info.StockOutList != "") {
                var idList = info.StockOutList.split(",");
                idList.forEach(function (v, i, a) {
                    initPartItemHtml(parseInt(v));
                })
            }
            $("#w_price_in_lable").html("总配件成本：" + info.PartMoney + "元");
        } else {
            app.error(res.msg);
        }
    }

    function doTypeChange() {
        var wType = $("#w_type").val();
        $("#w_part_name").html('<option value="" selected="selected">商品名称</option>');
        $("#w_part_num").html('<option value="" selected="selected">商品编号</option>');
        app.initCombobox({
            url: 'GetPartNameList',
            data: {
                Type: wType.trim(),
            },
            callback_params: {
                id: 'w_part_name',
                refresh: true,
            }
        });
        app.initCombobox({
            url: 'GetPartNumList',
            data: {
                Type: wType.trim(),
            },
            callback_params: {
                id: 'w_part_num',
                refresh: true,
            }
        });
    }

    function getPartList() {
        $("#w_table").jqGrid('setGridParam', {  // 重新加载数据
            page: 1,
            url: app.serverName + 'GetStockOutInfo',
        }).trigger("reloadGrid");
    }

    function initGrid() {
        $("#w_table").jqGrid({
            colNames: ['出库单号', '出库类型', '物品编号', '物品名称', '物品数量', '未关联', '是否取回更换单', '项目名称', '电梯名称', '使用人', '出库说明', '操作'],
            colModel: [
                {
                    name: 'id',
                    jsonmap: "ID",
                    fixed: true,
                },
                { name: 'Type' },
                { name: 'PartNum' },
                { name: 'PartName' },
                { name: 'Number' },
                { name: 'UnConnectNumber' },
                {
                    name: 'HasChangeTicket',
                    formatter: function (value, options, rowObject) {
                        return value ? "是" : "否";
                    },
                },
                { name: 'ProjectName' },
                { name: 'ElevatorNum' },
                { name: 'UserPerson' },
                { name: 'Remark' },
                {
                    name: 'Opts',
                    sortable: false,
                    jsonmap: "ID",
                    fixed: true,
                    formatter: function (value, options, rowObject) {
                        return "<a style='color:#134da5;' onclick='initPartItemHtml(" + value + ")'><i class='fa fa-edit'></i>&nbsp;选取</a>";
                    }
                }
            ],
            url: app.serverName + 'GetStockOutInfo',
            rowNum: 3,
            rowList: [3],
            datatype: 'json',
            data: [],
            viewrecords: true,
            pager: "#w_pager",
            height: 'auto',
            autowidth: true,
            shrinkToFit: true,
            forceFit: true,
            altRows: true,
            altclass: 'table-alt',
            jsonReader: {
                root: "data.Result",
                total: "data.TotalPage",
                records: "data.Number",
                page: "data.CurPage",
            },
            serializeGridData: function (postData) {
                return gridOptions.getParam(postData);
            },
        });

        // Add responsive to jqGrid
        var width = $('#w_wrapper').width();
        $('#w_table').setGridWidth(width);
        $(window).bind('resize', function () {
            var width = $('#w_wrapper').width();
            $('#w_table').setGridWidth(width);
        });
    }

    function initPartItemHtml(id) {
        var text = "";
        var options = {
            url: 'GetStockOutWithKey',
            data: {
                ID: parseInt(id),
            },
            callback: function (res, params) {
                res = eval("(" + res + ")");
                if (res.code == 10000) {
                    if (!originPart.has(res.data.PartID)) {
                        app.warning("该出库管理没有报价单中的配件");
                        return;
                    }
                    for (var x of idMap) { // 遍历Map
                        if (x[1] == res.data.ID) {
                            app.warning("已经有该出库单");
                            return;
                        }
                    }
                    idIndex++;
                    idMap.set(idIndex, id);
                    text += res.data.PartNum + "&nbsp;&nbsp;&nbsp;" + res.data.PartName + "&nbsp;&nbsp;&nbsp;出库单号：" + res.data.ID;
                    idPrice.set(idIndex, { PartID: res.data.PartID, Price: res.data.Price, Number: res.data.Number });
                    var html = getPartHtml(idIndex, text, res.data.StockInID);
                    $("#w_part_list").append(html);
                    doPriceChange();
                }
            },
            callback_params: {}
        };

        app.execPostRequest(options);

    }

    function initPartItemHtmlWithItem(res) {
        var text = "<div class='form-group'>";
        text += res.PartNum +
            "&nbsp;&nbsp;&nbsp;" + res.PartName +
            "&nbsp;&nbsp;&nbsp;进货单号：" + res.StockInID +
            "&nbsp;&nbsp;&nbsp;项目： " + res.ProjectName +
            "&nbsp;&nbsp;&nbsp;电梯： " + res.ElevatorNum +
            "&nbsp;&nbsp;&nbsp;数量： " + res.Number;
        text += "</div>";
        $("#w_part_label").append(text);
    }

    function getPartHtml(id, text, stockInID) {
        return "<div class='form-inline' style='margin-bottom: 10px;' id = 'part_item_" + id + "'>"
            + "<div class='form-group col-sm-12' >"
            + "<label class='control-label col-sm-8' style='text-align:left'>" + text
            + "&nbsp;&nbsp;&nbsp;<a style='color:#134da5;' onclick='openStockIn(" + stockInID + ")'>"
            + "<i class='fa fa-info'></i>&nbsp;入库信息</a>"
            + "&nbsp;&nbsp;&nbsp;<a style='color:#134da5;' onclick='doDeletePart(" + id + ")'>"
            + "&nbsp;删除</a>"
            + "</label>"
            + "</div>"
            + "</div>";
    }

    function openStockIn(id) {
        var url = "stock_in_detail.html?key=" + encodeURIComponent(id);

        layer.open({
            type:2,
            title: '入库信息',
            shadeClose: true,
            shade: 0.8,
            area: ['90%', '90%'],
            content: "stock_in_detail_child.html?key=" + encodeURIComponent(id),
        });
    }

    function doDeletePart(id) {
        idMap.delete(parseInt(id));
        idPrice.delete(parseInt(id));
        // console.log($("#part_item_"+id));
        $("#part_item_" + id).remove();
        doPriceChange();
    }

    function doPriceChange() {
        var totalPrice = 0;
        var numPart = new Map();
        originPart.forEach(function (v, k, m) {
            numPart.set(k, v);
        })
        var numPrice = new Map();
        idPrice.forEach(function (v, k, m) {
            numPrice.set(k, { PartID: v.PartID, Price: v.Price, Number: v.Number });
        })
        numPart.forEach(function (partValue, partKey, partMap) {
            numPrice.forEach(function (priceValue, priceKey, priceMap) {
                if (partKey == priceValue.PartID) {
                    if (priceValue.Number == 0 || partValue == 0) {
                        return;
                    }
                    if (partValue > priceValue.Number) {
                        totalPrice += priceValue.Number * priceValue.Price;
                        partValue -= priceValue.Number;
                        priceValue.Number = 0;
                    } else {
                        totalPrice += partValue * priceValue.Price;
                        priceValue.Number -= partValue;
                        partValue = 0;
                    }
                }
            });
        });
        $("#w_price_out_lable").html("总配件成本：" + totalPrice + "元");
    }


    function doPartNameChange() {
        var name = $("#w_part_name").val();
        $("#w_part_num").html('<option value="" selected="selected">商品编号</option>');

        app.initCombobox({
            url: 'GetPartNumList',
            data: {
                PartName: name.trim(),
            },
            callback_params: {
                id: 'w_part_num',
                refresh: true,
            }
        });
    }

    function doPartNumChange() {
        var key = $("#w_part_num").val();

        var options = {
            url: 'GetPartWithKey',
            data: {
                ID: parseInt(key),
            },
            callback: function (res, params) {
                res = eval("(" + res + ")");
                if (res.code == 10000) {
                    $("#w_part_num_label").html(res.data.PartNum);
                    $("#w_size_label").html(res.data.Size);
                    $("#w_brand_label").html(res.data.Brand);
                }
            },
            callback_params: {}
        };

        app.execPostRequest(options);

    }

    function saveInfo() {

        var list = [];

        idMap.forEach(function (v, key, map) {
            list.push(parseInt(v));
        });

        var options = {
            url: 'ConnectStockOut',
            data: {
                OfferID: parseInt(app.win_key),
                StockOutList: list,
            },
            callback: app.saveCallbackWindow,
            callback_params: {
                action: "edit",
                refresh: offer_refresh,
                key: parseInt(app.win_key),
            }
        };


        app.execPostRequest(options);
    }

</script>