<div class="modal-header" style="padding: 15px">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true" style="font-size: 30px;">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h6 class="modal-title">新增物品</h6>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>物品</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <span class="input-required">*</span>物品编号
                            </label>

                            <div class="col-sm-10">
                                <input type="text" id="w_part_num" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <span class="input-required">*</span>物品名称</label>
                            <div class="col-sm-10">
                                <input type="text" id="w_name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">单位</label>
                            <div class="col-sm-10">
                                <input type="text" id="w_measurement" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">规格/型号</label>
                            <div class="col-sm-10">
                                <input type="text" id="w_size" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">品牌</label>
                            <div class="col-sm-10">
                                <input type="text" id="w_brand" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <span class="input-required">*</span>类别
                            </label>
                            <div class="col-sm-10">
                                <label class="radio-inline i-checks">
                                    <input type="radio" checked="checked" name="w_type" value="工具">工具</label>
                                <label class="radio-inline i-checks">
                                    <input type="radio" name="w_type" value="易耗品">易耗品</label>
                                <label class="radio-inline i-checks">
                                    <input type="radio" name="w_type" value="配件">配件</label>
                                <label class="radio-inline i-checks">
                                    <input type="radio" name="w_type" value="检验仪器">检验仪器</label>
                                <label class="radio-inline i-checks">
                                    <input type="radio" name="w_type" value="调试设备">调试设备</label>
                                <label class="radio-inline i-checks">
                                    <input type="radio" name="w_type" value="设备">设备</label>
                                <label class="radio-inline i-checks">
                                    <input type="radio" name="w_type" value="其他">其他</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">建议价格</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="w_price" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">图片详情</label>
                            <div class="col-sm-10">
                                <div class="weui-form-preview__bd">
                                    <div class="weui-gallery" id="gallery">
                                        <span class="weui-gallery__img" id="galleryImg"></span>
                                        <div class="weui-gallery__opr">
                                        </div>
                                    </div>
                                    <div class="weui-uploader__bd">
                                        <ul class="weui-uploader__files" id="uploaderFiles" style="margin:0px">
                                            <div class="weui-uploader__file-content">
                                                <i class="weui-icon-warn"></i>
                                            </div>
                                        </ul>
                                        <div class="weui-uploader__input-box">
                                            <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">返回</button>
        <button type="button" class="btn btn-primary" onclick="saveInfo()">确认</button>
    </div>
    <script>
        var brand_type_members = [];

        var appid = '1253610260';
        var path;
        var Authorization;
        var imagesMap = new Map();

        var ticket_id;
        var photoIndex = 0;

        var options = {
            url: 'GetSecretID',
            data: {
                appid: appid,
                bucket: 'qx'
            },
            callback: function (res, params) {
                res = eval("(" + res + ")");
                if (res.code == 10000) {
                    Authorization = res.data.Authorization;
                } else {
                    alert(res.msg);
                }

            },
            callback_params: {}
        };
        app.execPostRequest(options);

        var bucketPath = "";

        var options = {
            url: 'GetBucketPath',
            callback: function (res, params) {
                res = eval("(" + res + ")");
                if (res.code == 10000) {
                    bucketPath = res.data.Path
                } else {
                    alert(res.msg);
                }
            },
            callback_params: {}
        };

        app.execPostRequest(options);

        $(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $("#w_price").TouchSpin({
                max: 1000000,
                min: 0,
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            app.win_action = 'add';
            if (app.win_url.indexOf("?key=") > 0) {
                app.win_action = 'edit';
                app.win_key = decodeURIComponent(app.win_url.split("?key=")[1]);
            }

            if (app.win_action == 'edit') {
                //编辑页面
                $(".modal-title").html("编辑物品")
                //获取info
                var options = {
                    url: 'GetPartWithKey',
                    data: {
                        ID: parseInt(app.win_key),
                    },
                    callback: initPartInfo,
                    callback_params: {}
                };

                app.execPostRequest(options);
            }

            photoInit();
        });

        function photoInit() {
            var $gallery = $("#gallery"), $galleryImg = $("#galleryImg"),
                $uploaderInput = $("#uploaderInput"),
                $uploaderFiles = $("#uploaderFiles");

            $uploaderInput.on("change", function (e) {
                var src, url = window.URL || window.webkitURL || window.mozURL, files = e.target.files;
                for (var i = 0, len = files.length; i < len; ++i) {
                    var file = files[i];

                    this.value = "";

                    path = '/' + bucketPath + '/' + parseInt(new Date().getTime() / 1000) + '-' + parseInt(Math.random() * 1000) + '.' + file.name.split(".")[1];

                    if (url) {
                        var cos = new CosCloud({
                            appid: 1253610260,// APPID 必填参数
                            bucket: 'qx',//bucketName 必填参数
                            region: 'tj',//地域信息 必填参数 华南地区填gz 华东填sh 华北填tj
                            getAppSign: function (callback) {//获取签名 必填参数
                                callback(Authorization);
                            },

                        });
                        var successCallBack = function (result) {
                            var source_url = result.data.source_url;
                            src = url.createObjectURL(file);

                            var tmpl = '<li class="weui-uploader__file" style="background-image:url(\'#url#\')" data-value="' + photoIndex + '">' +
                                '<a style="color: #ed5565;"  href="javascript:;" onclick="doRemovePhoto(this)">删除</a>' +
                                '</li>';
                            imagesMap.set(photoIndex, source_url);
                            var newTmpl = $(tmpl.replace('#url#', src));
                            $uploaderFiles.append(newTmpl);

                            photoIndex++;

                            $uploaderFiles.on("click", "li", function () {
                                $galleryImg.attr("style", this.getAttribute("style"));
                                $gallery.fadeIn(100);
                            });
                            $gallery.on("click", function () {
                                $gallery.fadeOut(100);
                            });
                        };

                        var errorCallBack = function (result) {
                            alert(result.responseText)
                            // console.log(result.responseText);

                        };

                        var progressCallBack = function (curr) {
                            $("#upload_progress").html(curr * 100 + "%");
                        };

                        // console.log(path);
                        cos.uploadFile(successCallBack, errorCallBack, progressCallBack, 'qx', path, file, 0);
                    } else {
                        src = e.target.result;
                    }

                }


            });
        }

        function doRemovePhoto(obj) {
            app.delete(function () {
                var li = $(obj).parents("li");
                var value = $(li).data("value");

                imagesMap.delete(parseInt(value));
                $(li).remove();
            });
        }

        function initPartInfo(res, param) {
            res = eval("(" + res + ")");
            if (res.code == 10000) {
                if (res.data == null) {
                    return;
                }
                var info = res.data;
                $("#w_part_num").val(info.PartNum);
                $("#w_name").val(info.Name);
                $("#w_measurement").val(info.Measurement);
                $("#w_size").val(info.Size);
                $("#w_brand").val(info.Brand);
                $("#w_price").val(info.Price);
                $(":radio[name='w_type'][value='" + info.Type + "']").iCheck('check');

                if (info.PhotoPlace == ""){
                    return;
                }

                var list = info.PhotoPlace.split(",");
                var $gallery = $("#gallery"), $galleryImg = $("#galleryImg"),
                    $uploaderInput = $("#uploaderInput"),
                    $uploaderFiles = $("#uploaderFiles");
                list.forEach(function (v, i, a) {
                    var tmpl = '<li class="weui-uploader__file" style="background-image:url(\'#url#\')" data-value="' + i + '">' +
                        '<a style="color: #ed5565;"  href="javascript:;" onclick="doRemovePhoto(this)">删除</a>' +
                        '</li>';
                    imagesMap.set(i, v);

                    var newTmpl = $(tmpl.replace('#url#', v));
                    $uploaderFiles.append(newTmpl);

                    photoIndex++;

                    $uploaderFiles.on("click", "li", function () {
                        $galleryImg.attr("style", this.getAttribute("style"));
                        $gallery.fadeIn(100);
                    });
                    $gallery.on("click", function () {
                        $gallery.fadeOut(100);
                    });
                });
            }
        }

        function saveInfo() {
            var partNum = $("#w_part_num").val();
            var name = $("#w_name").val();
            var measurement = $("#w_measurement").val();
            var size = $("#w_size").val();
            var brand = $("#w_brand").val();
            var price = $("#w_price").val();
            var type = $("input[name='w_type']:checked").val();

            if (partNum.trim() == "") {
                app.warning("请输入物品编号");
                return;
            }

            if (name.trim() == "") {
                app.warning("请输入物品名称");
                return;
            }

            if (type.trim() == "") {
                app.warning("请选择类别");
                return;
            }
            var images = "";

            imagesMap.forEach(function (value, key, map) {
                if (images == "") {
                    images += value;
                } else {
                    images += "," + value;
                }
            });

            if (app.win_action == 'add') {
                var options = {
                    url: 'AddNewPart',
                    data: {
                        PartNum: partNum.trim(),
                        Name: name.trim(),
                        Measurement: measurement.trim(),
                        Size: size.trim(),
                        Brand: brand.trim(),
                        Type: type.trim(),
                        AdvicePrice: parseInt(price.trim()),
                        PhotoPlace: images,
                    },
                    callback: app.saveCallbackWindow,
                    callback_params: {
                        action: "add",
                        refresh: part_refresh,
                        key: 'new_key',
                    }
                };

                app.execPostRequest(options);
            } else {
                var options = {
                    url: 'ChangePart',
                    data: {
                        ID: parseInt(app.win_key),
                        PartNum: partNum.trim(),
                        Name: name.trim(),
                        Measurement: measurement.trim(),
                        Size: size.trim(),
                        Brand: brand.trim(),
                        Type: type.trim(),
                        AdvicePrice: parseInt(price.trim()),
                        PhotoPlace: images,
                    },
                    callback: app.saveCallbackWindow,
                    callback_params: {
                        action: "edit",
                        refresh: part_refresh,
                        key: parseInt(app.win_key),
                    }
                };

                app.execPostRequest(options);
            }
        }

    </script>