<div class="modal-header" style="padding: 15px">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true" style="font-size: 30px;">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h6 class="modal-title">发票信息补录</h6>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                发票类型
                            </label>
                            <div class="col-sm-10">
                                <label for="w_invoice_type" class="sr-only">发票类型</label>
                                <select class="combobox form-control" id="w_invoice_type">
                                    <option value="" selected="selected">发票类型</option>
                                    <option value="增值发票">增值发票</option>
                                    <option value="普票">普票</option>
                                    <option value="收据">收据</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                发票信息备注
                            </label>

                            <div class="col-sm-10">
                                <input type="text" id="w_invoice_remark" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                是否收到发票
                            </label>

                            <div class="col-sm-10">
                                <label for="w_has_invoice" class="sr-only">是否收到发票</label>
                                <select class="combobox form-control" id="w_has_invoice">
                                    <option value="" selected="selected">是否收到发票</option>
                                    <option value="是">是</option>
                                    <option value="否">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                发票上物品名
                            </label>

                            <div class="col-sm-10">
                                <input type="text" id="w_invoice_part_name" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">返回</button>
    <button type="button" class="btn btn-primary" onclick="saveInfo()">确认</button>
</div>
<script>
    var brand_type_members = [];
    $(function () {
        app.win_action = 'add';
        if (app.win_url.indexOf("?key=") > 0) {
            app.win_action = 'edit';
            app.win_key = decodeURIComponent(app.win_url.split("?key=")[1]);
        }

        if (app.win_action == 'edit') {
            //获取info
            var options = {
                url: 'GetStockInWithKey',
                data: {
                    ID: parseInt(app.win_key),
                },
                callback: initStockInInfo,
                callback_params: {}
            };

            app.execPostRequest(options);

        }
    });

    function initStockInInfo(res, param) {
        res = eval("(" + res + ")");
        if (res.code == 10000) {
            if (res.data == null) {
                return;
            }
            var info = res.data;
            $("#w_invoice_type").val(info.InvoiceType);
            $("#w_invoice_type").combobox();
            $("#w_invoice_remark").val(info.InvoiceRemark);
            $("#w_has_invoice").val(info.ReceiveInvoice ? "是" : "否");
            $("#w_has_invoice").combobox();
            $("#w_invoice_part_name").val(info.InvoicePartName);
        }
    }

    function saveInfo() {
        var invoiceType = $("#w_invoice_type").val();
        var invoiceRemark = $("#w_invoice_remark").val();
        var hasInvoice = $("#w_has_invoice").val();
        var invoicePartName = $("#w_invoice_part_name").val();

        if (hasInvoice.trim()=="是"){
            hasInvoice = true
        }else{
            hasInvoice = false
        }

        var options = {
            url: 'StockInChangeInvoice',
            data: {
                ID: parseInt(app.win_key),
                InvoiceType: invoiceType.trim(),
                InvoiceRemark: invoiceRemark.trim(),
                ReceiveInvoice: hasInvoice,
                InvoicePartName: invoicePartName.trim(),
            },
            callback: app.saveCallbackWindow,
            callback_params: {
                action: "edit",
                refresh: item_refresh,
                key: parseInt(app.win_key),
            }
        };

        app.execPostRequest(options);
    }

</script>