<div class="modal-header" style="padding: 15px">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true" style="font-size: 30px;">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h6 class="modal-title">入库信息</h6>
</div>
<div class="modal-body">
    <div class="row">

        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            入库单号：
                        </label>

                        <div class="col-sm-10">
                            <span id="w_id"></span>
                        </div>
                    </div>
                </div>
                <div class="ibox-title">
                    <h5>商品选择</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-inline" style="margin-bottom: 10px;">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="w_type" class="sr-only">类别</label>
                                    <select class="combobox form-control" id="w_type" onchange="doTypeChange()">
                                        <option value="" selected="selected">类别</option>
                                        <option value="工具">工具</option>
                                        <option value="易耗品">易耗品</option>
                                        <option value="配件">配件</option>
                                        <option value="检验仪器">检验仪器</option>
                                        <option value="调试设备">调试设备</option>
                                        <option value="设备">设备</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="w_part_name" class="sr-only">商品名称</label>
                                    <select class="combobox form-control" id="w_part_name" onchange="doPartNameChange()">
                                        <option value="" selected="selected">商品名称</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="w_part_num" class="sr-only">商品编号</label>
                                    <select class="combobox form-control" id="w_part_num" onchange="doPartNumChange()">
                                        <option value="" selected="selected">商品编号</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                商品编号
                            </label>

                            <div class="col-sm-10 control-label" style="text-align: left">
                                <span id="w_part_num_label"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                规格/型号
                            </label>

                            <div class="col-sm-10 control-label" style="text-align: left">
                                <span id="w_size_label"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                品牌
                            </label>

                            <div class="col-sm-10 control-label" style="text-align: left">
                                <span id="w_brand_label"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-title">
                    <h5>供应商选择</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label for="w_support" class="sr-only">供应商选择</label>
                                <select class="combobox form-control" id="w_support">
                                    <option value="" selected="selected">供应商选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-title">
                    <h5>入库信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <span class="input-required">*</span>入库到
                            </label>

                            <div class="col-sm-10">
                                <label for="w_repertory" class="sr-only">入库选择</label>
                                <select class="combobox form-control" id="w_repertory">
                                    <option value="" selected="selected">入库选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <span class="input-required">*</span>入库类型
                            </label>

                            <div class="col-sm-10">
                                <label for="w_repertory_type" class="sr-only">入库类型</label>
                                <select class="combobox form-control" id="w_repertory_type">
                                    <option value="" selected="selected">入库类型</option>
                                    <option value="采购入库">采购入库</option>
                                    <option value="现场拆回">现场拆回</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                备注
                            </label>

                            <div class="col-sm-10">
                                <input type="text" id="w_remark" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <span class="input-required">*</span>入库数量
                            </label>

                            <div class="col-sm-10">
                                <input type="text" id="w_num" class="form-control" onchange="doPriceChange()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <span class="input-required">*</span>采购单价
                            </label>

                            <div class="col-sm-10">
                                <input type="text" id="w_price" class="form-control" onchange="doPriceChange()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                采购人
                            </label>

                            <div class="col-sm-10">
                                <input type="text" id="w_buy_person" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                制单人
                            </label>

                            <div class="col-sm-10 control-label" style="text-align: left">
                                <span id="w_make_person"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                总价
                            </label>

                            <div class="col-sm-10 control-label" style="text-align: left">
                                <span id="w_all_price"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-title">
                    <h5>发票信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                发票类型
                            </label>
                            <div class="col-sm-10">
                                <label for="w_invoice_type" class="sr-only">发票类型</label>
                                <select class="combobox form-control" id="w_invoice_type">
                                    <option value="" selected="selected">发票类型</option>
                                    <option value="增值发票">增值发票</option>
                                    <option value="普票">普票</option>
                                    <option value="收据">收据</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                发票信息备注
                            </label>

                            <div class="col-sm-10">
                                <input type="text" id="w_invoice_remark" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                是否收到发票
                            </label>

                            <div class="col-sm-10">
                                <label for="w_has_invoice" class="sr-only">是否收到发票</label>
                                <select class="combobox form-control" id="w_has_invoice">
                                    <option value="" selected="selected">是否收到发票</option>
                                    <option value="是">是</option>
                                    <option value="否">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                发票上物品名
                            </label>

                            <div class="col-sm-10">
                                <input type="text" id="w_invoice_part_name" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">返回</button>
</div>
<script>
    $(function () {

        $('.input-group.date').datepicker({
            language: 'zh-CN',
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
        });

        $("#w_price").TouchSpin({
            max: 1000000,
            min: 0,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });

        $("#w_num").TouchSpin({
            max: 1000000,
            min: 0,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });



        // $("#w_type").combobox();
        // $("#w_invoice_type").combobox();
        // $("#w_has_invoice").combobox();
        // $("#w_repertory_type").combobox();
        $("#w_make_person").html(app.getLoginUserName());


        if (app.win_url.indexOf("?key=") > 0) {
            app.win_action = 'edit';
            app.win_key = decodeURIComponent(app.win_url.split("?key=")[1]);
            var options = {
                url: 'GetStockInWithKey',
                data: {
                    ID: parseInt(app.win_key),
                },
                callback: initStockInInfo,
                callback_params: {}
            };

            app.execPostRequest(options);
        }
    });

    function initStockInInfo(res, param) {
        res = eval("(" + res + ")");
        if (res.code == 10000) {
            if (res.data == null) {
                return;
            }
            var info = res.data;
            $("#w_id").html(info.ID);

            app.initCombobox({
                url: 'GetPartNameList',
                callback_params: {
                    id: 'w_part_name',
                    value: info.PartName,
                }
            });

            app.initCombobox({
                url: 'GetPartNumList',
                callback_params: {
                    id: 'w_part_num',
                    value: info.PartID,
                }
            });

            app.initCombobox({
                url: 'GetSupportInfo',
                callback_params: {
                    id: 'w_support',
                    value: info.SupportID,
                }
            });

            app.initCombobox({
                url: 'GetRepertoryInfo',
                callback_params: {
                    id: 'w_repertory',
                    value: info.RepertoryID,
                }
            });
            $("#w_type").val(info.PartType);
            $("#w_type").combobox();
            if (info.PartID != 0) {
                var options = {
                    url: 'GetPartWithKey',
                    data: {
                        ID: info.PartID,
                    },
                    callback: function (res, params) {
                        res = eval("(" + res + ")");
                        if (res.code == 10000) {
                            $("#w_part_num_label").html(res.data.PartNum);
                            $("#w_size_label").html(res.data.Size);
                            $("#w_brand_label").html(res.data.Brand);
                        }
                    },
                    callback_params: {}
                };

                app.execPostRequest(options);
            }

            $("#w_repertory_type").val(info.Type);
            $("#w_repertory_type").combobox();
            $("#w_remark").val(info.Remark);
            $("#w_num").val(info.Number);
            $("#w_price").val(info.Price);
            $("#w_buy_person").val(info.BuyPerson);
            $("#w_make_person").html(info.MakePerson);
            $("#w_all_price").html(info.Number * info.Price);
            $("#w_invoice_type").val(info.InvoiceType);
            $("#w_invoice_type").combobox();
            $("#w_invoice_remark").val(info.InvoiceRemark);
            $("#w_has_invoice").val(info.ReceiveInvoice ? "是" : "否");
            $("#w_has_invoice").combobox();
            $("#w_invoice_part_name").val(info.InvoicePartName);
        }
    }

    function doTypeChange() {
        var wType = $("#w_type").val();
        $("#w_part_name").html('<option value="" selected="selected">商品名称</option>');
        $("#w_part_num").html('<option value="" selected="selected">商品编号</option>');
        app.initCombobox({
            url: 'GetPartNameList',
            data: {
                Type: wType.trim(),
            },
            callback_params: {
                id: 'w_part_name',
                refresh: true,
            }
        });
        app.initCombobox({
            url: 'GetPartNumList',
            data: {
                Type: wType.trim(),
            },
            callback_params: {
                id: 'w_part_num',
                refresh: true,
            }
        });
    }


    function doPartNameChange() {
        var name = $("#w_part_name").val();
        $("#w_part_num").html('<option value="" selected="selected">商品编号</option>');

        app.initCombobox({
            url: 'GetPartNumList',
            data: {
                PartName: name.trim(),
            },
            callback_params: {
                id: 'w_part_num',
                refresh: true,
            }
        });
    }

    function doPartNumChange() {
        var key = $("#w_part_num").val();

        var options = {
            url: 'GetPartWithKey',
            data: {
                ID: parseInt(key),
            },
            callback: function (res, params) {
                res = eval("(" + res + ")");
                if (res.code == 10000) {
                    $("#w_part_num_label").html(res.data.PartNum);
                    $("#w_size_label").html(res.data.Size);
                    $("#w_brand_label").html(res.data.Brand);
                }
            },
            callback_params: {}
        };

        app.execPostRequest(options);

    }

    function doPriceChange() {
        var num = $("#w_num").val();
        if (num.trim() == "") {
            return;
        }

        var price = $("#w_price").val();
        if (price.trim() == "") {
            return;
        }

        $("#w_all_price").html(parseInt(num) * parseInt(price));
    }

</script>