<div class="modal-header" style="padding: 15px">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true" style="font-size: 30px;">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h6 class="modal-title">新增员工</h6>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>人员信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">
                                <span class="input-required">*</span>用户名
                            </label>
                            <div class="col-sm-5">
                                <input type="text" id="w_user_name" class="form-control">
                            </div>

                            <label class="col-sm-1 control-label">
                                <span class="input-required">*</span>姓名
                            </label>
                            <div class="col-sm-5">
                                <input type="text" id="w_name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">
                                <span class="input-required">*</span>手机
                            </label>
                            <div class="col-sm-5">
                                <input type="text" id="w_phone" class="form-control">
                            </div>

                            <label class="col-sm-1 control-label">
                                <span class="input-required">*</span>角色
                            </label>
                            <div class="col-sm-5">
                                <div class="form-group" style="margin:0;" style="width: 100%">
                                    <label for="w_role" class="sr-only">角色</label>
                                    <select class="combobox form-control" id="w_role">
                                        <option value="" selected="selected">角色</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">级别</label>
                            <div class="col-sm-5">
                                <input type="text" id="w_level" class="form-control">
                            </div>

                            <label class="col-sm-1 control-label">后台登录</label>
                            <div class="col-sm-5">
                                <label class="radio-inline i-checks"> <input type="radio" name="w_manager" value="true">是</label>
                                <label class="radio-inline i-checks"> <input type="radio" name="w_manager" value="false" checked="checked">否</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">入职时间</label>
                            <div class="col-sm-5">
                                <div class="input-daterange input-group" id="j_datepicker" style="width: 100%">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" name="w_join_time" value="" />
                                </div>
                            </div>

                            <label class="col-sm-1 control-label">参加工作时间</label>
                            <div class="col-sm-5">
                                <div class="input-daterange input-group" id="w_datepicker" style="width: 100%">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" name="w_work_time" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-title">
                    <h5>证书信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">T1证书</label>
                            <div class="col-sm-2">
                                <label class="radio-inline i-checks"> <input type="radio" name="w_has_t1" value="true">是</label>
                                <label class="radio-inline i-checks"> <input type="radio" name="w_has_t1" value="false" checked="checked">否</label>
                            </div>
                            <label class="col-sm-1 control-label">开始时间</label>
                            <div class="col-sm-3">
                                <div class="input-daterange input-group" id="t1_datepicker_start">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" name="w_t1_start" value="" />
                                </div>
                            </div>
                            <label class="col-sm-1 control-label">结束时间</label>
                            <div class="col-sm-3">
                                <div class="input-daterange input-group" id="t1_datepicker_end">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" name="w_t1_end" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">T2证书</label>
                            <div class="col-sm-2">
                                <label class="radio-inline i-checks"> <input type="radio" name="w_has_t2" value="true">是</label>
                                <label class="radio-inline i-checks"> <input type="radio" name="w_has_t2" value="false" checked="checked">否</label>
                            </div>
                            <label class="col-sm-1 control-label">开始时间</label>
                            <div class="col-sm-3">
                                <div class="input-daterange input-group" id="t2_datepicker_start">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" name="w_t2_start" value="" />
                                </div>
                            </div>
                            <label class="col-sm-1 control-label">结束时间</label>
                            <div class="col-sm-3">
                                <div class="input-daterange input-group" id="t2_datepicker_end">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" name="w_t2_end" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="form-group" style="margin:0;">
                                <label class="control-label">开始时间</label>
                                <div class="input-daterange input-group" id="new_datepicker_start">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" name="w_new_start" value="" />
                                </div>
                                <label class=" control-label">结束时间</label>
                                <div class="input-daterange input-group" id="new_datepicker_end">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" name="w_new_end" value="" />
                                </div>
                                <input type="text" class="form-control" id="w_new_cer" placeholder="请输入证书名字">
                                <button class="btn btn-primary" onclick="doAddCertificate()">新增证书</button>
                            </div>
                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-title" style="padding-left: 0;">
                            <h5>证书列表</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="dd" id="nestable">
                                <ol class="dd-list">
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">返回</button>
    <button type="button" class="btn btn-primary" onclick="savePersonInfo()">确认</button>
</div>
<script>
    var CerMap = new Map();
    $(function () {
        app.win_action = 'add';
        if (app.win_url.indexOf("?key=") > 0) {
            app.win_action = 'edit';
            app.win_key = decodeURIComponent(app.win_url.split("?key=")[1]);
        }

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $("#j_datepicker").datepicker({
            language: 'zh-CN',
            keyboardNavigation: false,
            todayBtn: "linked",
            forceParse: true,
            autoclose: true,
        });

        $("#w_datepicker").datepicker({
            language: 'zh-CN',
            keyboardNavigation: false,
            todayBtn: "linked",
            forceParse: true,
            autoclose: true,
        });

        $("#t1_datepicker_start").datepicker({
            language: 'zh-CN',
            keyboardNavigation: false,
            todayBtn: "linked",
            forceParse: true,
            autoclose: true,
        });

        $("#t1_datepicker_end").datepicker({
            language: 'zh-CN',
            keyboardNavigation: false,
            todayBtn: "linked",
            forceParse: true,
            autoclose: true,
        });

        $("#t2_datepicker_start").datepicker({
            language: 'zh-CN',
            keyboardNavigation: false,
            todayBtn: "linked",
            forceParse: true,
            autoclose: true,
        });

        $("#t2_datepicker_end").datepicker({
            language: 'zh-CN',
            keyboardNavigation: false,
            todayBtn: "linked",
            forceParse: true,
            autoclose: true,
        });

        $("#new_datepicker_start").datepicker({
            language: 'zh-CN',
            keyboardNavigation: false,
            todayBtn: "linked",
            forceParse: true,
            autoclose: true,
        });

        $("#new_datepicker_end").datepicker({
            language: 'zh-CN',
            keyboardNavigation: false,
            todayBtn: "linked",
            forceParse: true,
            autoclose: true,
        });

        if (app.win_action == 'edit') {
            //编辑页面
            $(".modal-title").html("编辑员工")
            //获取info
            var options = {
                url: 'FindPersonWithKey',
                data: {
                    UserName: app.win_key,
                    IsProperty: false,
                },
                callback: initPersonInfo,
                callback_params: {}
            };

            app.execPostRequest(options);

        } else {
            app.initCombobox({
                url: 'GetRoleList',
                callback_params: {
                    id: 'w_role',
                }
            });
        }
    });

    function initPersonInfo(res, param) {
        res = eval("(" + res + ")");
        if (res.code == 10000) {
            if (res.data == null) {
                return;
            }
            var info = res.data;
            $("#w_user_name").val(info.UserName);
            $("#w_user_name").attr("disabled", "disabled");
            $("#w_name").val(info.Name);
            $("#w_phone").val(info.Phone);
            $("#w_level").val(info.Level);

            $(":radio[name='w_manager'][value='" + info.IsManager + "']").iCheck('check');

            if (info.JoinTime != 0) {
                $("input[name='w_join_time']").val(app.formatDateFromUnix(info.JoinTime));
            }
            if (info.JoinTime != 0) {
                $("input[name='w_work_time']").val(app.formatDateFromUnix(info.WorkTime));
            }

            app.initCombobox({
                url: 'GetRoleList',
                callback_params: {
                    id: 'w_role',
                    value: info.Role,
                }
            });
            var list = res.data.CertificateList;
            if (list != null && list.length > 0) {
                list.forEach(function (value, index, arr) {
                    CerMap.set(value.CertificateName, value);
                    if (value.CertificateName == "T1") {
                        $(":radio[name='w_has_t1'][value=true]").iCheck('check');
                        if (value.StartTime != 0) {
                            $("input[name='w_t1_start']").val(app.formatDateFromUnix(value.StartTime));
                        }
                        if (value.EndTime != 0) {
                            $("input[name='w_t1_end']").val(app.formatDateFromUnix(value.EndTime));
                        }
                    } else if (value.CertificateName == "T2") {
                        $(":radio[name='w_has_t2'][value=true]").iCheck('check');
                        if (value.StartTime != 0) {
                            $("input[name='w_t2_start']").val(app.formatDateFromUnix(value.StartTime));
                        }
                        if (value.EndTime != 0) {
                            $("input[name='w_t2_end']").val(app.formatDateFromUnix(value.EndTime));
                        }
                    } else {
                        addCertificateList(value, {})
                    }
                });
            }
        }
    }

    function savePersonInfo() {
        var UserName = $("#w_user_name").val();
        var Name = $("#w_name").val();
        var Phone = $("#w_phone").val();
        var Level = $("#w_level").val();
        var Role = $("#w_role").val();
        var JoinTime = $("input[name='w_join_time']").val();
        var WorkTime = $("input[name='w_work_time']").val();

        if (UserName.trim() == "") {
            app.warning("请输入用户名");
            return;
        }
        if (Name.trim() == "") {
            app.warning("请输入姓名");
            return;
        }
        if (Role == null || Role.trim() == "") {
            app.warning("请输入角色");
            return;
        }

        if (!(/^1[0-9][0-9]\d{4,8}$/.test(Phone))) {
            app.warning("请输入正确的手机号码");
            return;
        }

        var HasT1 = $("input[name='w_has_t1']:checked").val();
        if (HasT1 == "true") {
            var T1Start = $("input[name='w_t1_start']").val();
            if (T1Start.trim() == "") {
                app.warning("T1没有选择开始时间");
            }
            var T1End = $("input[name='w_t1_end']").val();
            if (T1End.trim() == "") {
                app.warning("T1没有选择结束时间");
            }
            var data = {
                CertificateName: "T1",
                StartTime: new Date(T1Start).getTime() / 1000,
                EndTime: new Date(T1End).getTime() / 1000,
            };
            CerMap.set("T1", data);
        }else{
            CerMap.delete("T1");
        }
        var HasT2 = $("input[name='w_has_t2']:checked").val();
        if (HasT2 == "true") {
            var T2Start = $("input[name='w_t2_start']").val();
            if (T2Start.trim() == "") {
                app.warning("T2没有选择开始时间");
            }
            var T2End = $("input[name='w_t2_end']").val();
            if (T2End.trim() == "") {
                app.warning("T2没有选择结束时间");
            }
            var data = {
                CertificateName: "T2",
                StartTime: new Date(T2Start).getTime() / 1000,
                EndTime: new Date(T2End).getTime() / 1000,
            };
            CerMap.set("T2", data);
        }else{
            CerMap.delete("T2");
        }
        var CerList = [];
        CerMap.forEach(function (value, key, map) {
            CerList.push(value);
        });

        var IsManager = $("input[name='w_manager']:checked").val();
        if (IsManager == "true") {
            IsManager = true;
        } else {
            IsManager = false;
        }
        if (JoinTime.trim() == "") {
            JoinTime = 0;
        } else {
            JoinTime = new Date(JoinTime).getTime() / 1000;
        }
        if (WorkTime.trim() == "") {
            WorkTime = 0;
        } else {
            WorkTime = new Date(WorkTime).getTime() / 1000;
        }

        if (app.win_action == 'add') {
            var options = {
                url: 'AddNewPerson',
                data: {
                    UserName: UserName.trim(),
                    Name: Name.trim(),
                    Phone: Phone.trim(),
                    Level: Level.trim(),
                    Role: Role.trim(),
                    IsManager: IsManager,
                    JoinTime: JoinTime,
                    WorkTime: WorkTime,
                    CertificateList: CerList,
                },
                callback: app.saveCallbackWindow,
                callback_params: {
                    action: "add",
                    refresh: person_refresh,
                    key: UserName.trim(),
                }
            };

            app.execPostRequest(options);
        } else {
            var options = {
                url: 'ChangePersonInfo',
                data: {
                    UserName: UserName.trim(),
                    Name: Name.trim(),
                    Phone: Phone.trim(),
                    Level: Level.trim(),
                    Role: Role.trim(),
                    IsManager: IsManager,
                    JoinTime: JoinTime,
                    WorkTime: WorkTime,
                    CertificateList: CerList,
                },
                callback: app.saveCallbackWindow,
                callback_params: {
                    action: "edit",
                    refresh: person_refresh,
                    key: UserName.trim(),
                }
            };

            app.execPostRequest(options);
        }
    }

    function addCertificateList(res, params) {
        var html = '<li class="dd-item" data-value="' + res + '">'
            + '<div class="dd-handle">'
            + '<a style="color: #ed5565;"  href="javascript:;" onclick="doRemoveCertificate(this)">删除</a>'
            + '&nbsp;&nbsp;<i class="fa fa-book"></i>&nbsp;证书名称： ' + res.CertificateName
            + ' 开始时间： ' + app.formatDateFromUnix(res.StartTime)
            + ' 结束时间： ' + app.formatDateFromUnix(res.EndTime)
            + '</div>'
            + '</li>';
        $(".dd-list").append(html);
    }

    function doRemoveCertificate(obj) {
        var li = $(obj).parents("li");
        var value = $(li).data("value");
        $(li).remove();
        CerMap.delete(value);
    }

    function doAddCertificate() {
        var cer = $("#w_new_cer").val();
        if (cer.trim() == "") {
            app.info("请输入新证书名称");
            return;
        }
        var NewStart = $("input[name='w_new_start']").val();
        if (NewStart.trim() == "") {
            app.warning("新证书没有选择开始时间");
            return
        }
        var NewEnd = $("input[name='w_new_end']").val();
        if (NewEnd.trim() == "") {
            app.warning("新证书没有选择结束时间");
            return
        }

        if (CerMap.has(cer.trim())) {
            app.error("已经添加过该型号");
            return;
        }
        if (cer.trim() == "T1" || cer.trim() == "T2"){
            app.info("T1，T2证书请在上面添加");
            return;
        }
        var data = {
            CertificateName: cer.trim(),
            StartTime: new Date(NewStart).getTime() / 1000,
            EndTime: new Date(NewEnd).getTime() / 1000,
        }
        CerMap.set(cer.trim(), data);
        addCertificateList(data, {})
    }

</script>