<div class="modal-header" style="padding: 15px">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true" style="font-size: 30px;">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h6 class="modal-title">新增小组</h6>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>小组信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <span class="input-required">*</span>小组名称
                            </label>

                            <div class="col-sm-10">
                                <input type="text" id="w_team" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <span class="input-required">*</span>小组性质
                            </label>

                            <div class="col-sm-10">
                                <label for="w_type" class="sr-only">小组性质</label>
                                <select class="combobox form-control" id="w_type">
                                    <option value="" selected="selected">小组性质</option>
                                    <option value="维保" >维保</option>
                                    <option value="自检" >自检</option>
                                    <option value="年检自检" >年检自检</option>
                                    <option value="检修" >检修</option>
                                    <option value="大修整改" >大修/整改</option>
                                    <option value="其他" >其他</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">小组描述</label>
                            <div class="col-sm-10">
                                <input type="text" id="w_desc" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-title">
                    <h5>小组成员</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-inline" style="margin-bottom: 10px;">
                        <div class="form-group">
                            <label for="w_person" class="sr-only">选择员工</label>
                            <select class="combobox form-control" id="w_person">
                                <option value="" selected="selected">选择员工</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">是否组长</label>
                            <label class="radio-inline i-checks"> <input type="radio" name="w_is_leader" value="true">是</label>
                            <label class="radio-inline i-checks"> <input type="radio" name="w_is_leader" value="false" checked="checked">否</label>
                        </div>
                        <button class="btn btn-primary" onclick="doAddContactsMember()">新增组员</button> &nbsp; &nbsp;找不到人员？
                        <a onclick="app.openRightFrameFromWin('person.html')">人员管理</a>
                    </div>

                    <div class="ibox">
                        <div class="ibox-title" style="padding-left: 0;">
                            <h5>组员列表</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="dd" id="nestable">
                                <ol class="dd-list">
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">返回</button>
    <button type="button" class="btn btn-primary" onclick="saveTeamInfo()">确认</button>
</div>
<script>
    var team_members_map = new Map();
    $(function () {
        app.win_action = 'add';
        if (app.win_url.indexOf("?key=") > 0) {
            app.win_action = 'edit';
            app.win_key = decodeURIComponent(app.win_url.split("?key=")[1]);
        }

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        if (app.win_action == 'edit') {
            //编辑页面
            $(".modal-title").html("编辑小组")
            //获取info
            var options = {
                url: 'FindTeamWithKey',
                data: {
                    TeamName: app.win_key,
                },
                callback: initTeamInfo,
                callback_params: {}
            };

            app.execPostRequest(options);

        } else {
            app.initCombobox({
                url: 'FindNormalPerson',
                data: {
                    LastJobYear: -1,
                    WorkYear: -1,
                },
                callback_params: {
                    id: 'w_person',
                }
            });

            // $("#w_person").combobox();
        }
    });

    function initTeamInfo(res, param) {
        res = eval("(" + res + ")");
        if (res.code == 10000) {
            if (res.data == null) {
                return;
            }
            var info = res.data;
            $("#w_team").val(info.TeamName);
            $("#w_team").attr("disabled", "disabled");
            $("#w_type").val(info.Type);
            $("#w_type").attr("disabled", "disabled");
            $("#w_desc").val(info.Desc);

            app.initCombobox({
                url: 'FindNormalPerson',
                data: {
                    LastJobYear: -1,
                    WorkYear: -1,
                },
                callback_params: {
                    id: 'w_person',
                }
            });

            var contacts_list = res.data.Member;
            if (contacts_list != null && contacts_list.length > 0) {
                contacts_list.forEach(function (value, index, arr) {
                    addContactsLi(value, {})
                });
            }
        }
    }

    function saveTeamInfo() {
        var TeamName = $("#w_team").val();
        var Type = $("#w_type").val();
        var Desc = $("#w_desc").val();


        if (TeamName.trim() == "") {
            app.warning("请输入小组名称");
            return;
        }

        if (Type.trim() == "") {
            app.warning("请输入小组性质");
            return;
        }

        var team_members = [];
        team_members_map.forEach(function (value, key, map) {
            team_members.push(value);
        });

        if (app.win_action == 'add') {
            var options = {
                url: 'AddNewTeam',
                data: {
                    TeamName: TeamName.trim(),
                    Type: Type.trim(),
                    Desc: Desc.trim(),
                    Member: team_members,
                },
                callback: app.saveCallbackWindow,
                callback_params: {
                    action: "add",
                    refresh: group_refresh,
                    key: TeamName.trim(),
                }
            };

            app.execPostRequest(options);
        } else {
            var options = {
                url: 'ChangeTeamInfo',
                data: {
                    TeamName: TeamName.trim(),
                    Type: Type.trim(),
                    Desc: Desc.trim(),
                },
                callback: app.saveCallbackWindow,
                callback_params: {
                    action: "edit",
                    refresh: group_refresh,
                    key: TeamName.trim(),
                }
            };

            app.execPostRequest(options);
        }
    }

    function addContactsLi(res, params) {
        var html = '<li class="dd-item" data-value="' + res.UserName + '">'
            + '<div class="dd-handle">'
            + '<a style="color: #ed5565;"  href="javascript:;" onclick="doRemoveTeamMember(this)">删除</a>'
            + '&nbsp;&nbsp;<i class="fa fa-user"></i>&nbsp;姓名：' + res.PersonName
            + '&nbsp;&nbsp;角色：' + res.Role
            + '&nbsp;&nbsp;联系电话:' + res.Phone;
        if (res.IsLeader) {
            html += '&nbsp;&nbsp;组长'
        }
        html += '</div>'
            + '</li>';
        $(".dd-list").append(html);
    }

    function doRemoveTeamMember(obj) {
        app.delete(function () {
            var li = $(obj).parents("li");
            var value = $(li).data("value");
            if (app.win_action == "add") {
                team_members_map.delete(value);
                $(li).remove();
            } else {
                var options = {
                    url: 'DelTeamMember',
                    data: {
                        TeamName: app.win_key,
                        UserName: value,
                    },
                    callback: function (res, params) {
                        res = eval("(" + res + ")");
                        if (res.code == 10000) {
                            $(params.li).remove();
                        } else {
                            app.error(res.msg);
                        }
                    },
                    callback_params: {
                        li: li,
                    }
                };
                app.execPostRequest(options);
            }
        });
    }

    function doAddContactsMember() {
        var team = $("#w_team").val();
        if (team.trim() == "") {
            app.info("请输入小组名称");
            return;
        }

        var user_name = $("#w_person").val();
        if (user_name == "") {
            app.info("请选择组员");
            return;
        }

        var IsLeader = $("input[name='w_is_leader']:checked").val();
        if (IsLeader == "true") {
            IsLeader = true;
        } else {
            IsLeader = false;
        }

        var flag = false;
        $(".dd-item").each(function () {
            if (user_name == $(this).data("value")) {
                flag = true;
            }
        });
        if (flag) {
            app.error("已经添加过该联系人");
            return;
        }

        //获取info
        var options = {
            url: 'FindPersonWithKey',
            data: {
                UserName: user_name,
                IsProperty: false,
            },
            callback: function (res, params) {
                res = eval("(" + res + ")");
                if (res.code == 10000) {
                    //人员存在，保存为联系人

                    if (app.win_action == "add") {
                        team_members_map.set(user_name, {
                            UserName: user_name,
                            IsLeader: IsLeader,
                        });
                        addContactsLi({
                            UserName: res.data.UserName,
                            PersonName: res.data.Name,
                            Role: res.data.Role,
                            Phone: res.data.Phone,
                            IsLeader: IsLeader,
                        }, {});
                    } else {
                        var options = {
                            url: 'AddTeamMember',
                            data: {
                                TeamName: team.trim(),
                                UserName: params.user_name,
                                IsLeader: IsLeader,
                            },
                            callback: function (res, params) {
                                res = eval("(" + res + ")");
                                if (res.code == 10000) {
                                    addContactsLi(params.res, {});
                                } else {
                                    app.error(res.msg);
                                }
                            },
                            callback_params: {
                                res: {
                                    UserName: res.data.UserName,
                                    PersonName: res.data.Name,
                                    Role: res.data.Role,
                                    Phone: res.data.Phone,
                                    IsLeader: IsLeader,
                                },
                            }
                        };
                        app.execPostRequest(options);
                    }
                } else {
                    app.error(res.msg);
                }
            },
            callback_params: {
                user_name: user_name,
            }
        };

        app.execPostRequest(options);
    }

</script>