{
    "General":{
        "ReadDeadLine":300,
        "QueueLen":128,
        "SockBuf":32767,
        "UDPSockBuf":4194304,
        "UDPSndWnd":32,
        "UDPRcvWnd":32,
        "UDPMtu":1280,
        "Dscp":46,
        "Nodelay":1,
        "Interval":20,
        "ReSend":1,
        "Nc":1,
        "RPMlimit":200
    },
    "Center":{
        "MysqlConfig" :"user:test1@tcp(192.168.0.104:3306)/test?allowNativePasswords=true",
        "LogLevel":"Debug",
        "GrpcListen":":9000",
        "PProfListen":":9006",
        "ETCDHost":["http://127.0.0.1:2379"],
        "ETCDRoot":"/backends",
        "ETCDWatch":["/backends"],
        "ETCDServicePath":"/backends/center/",
        "ETCDConfigPath":"/backends/config/"
    },
    "Unique":{
        "MysqlConfig" :"user:test1@tcp(192.168.0.104:3306)/test?allowNativePasswords=true",
        "LogLevel":"Debug",
        "WebListen":":8100",
        "GrpcListen":":8101",
        "PProfListen":":8106",
        "ETCDHost":["http://127.0.0.1:2379"],
        "ETCDRoot":"/backends",
        "ETCDWatch":["/backends"],
        "ETCDServicePath":"/backends/login/",
        "ETCDConfigPath":"/backends/config/"
    },
    "AgentList":[
        {
            "ID":"agent1",
            "MixListen":":8000",
            "GrpcListen":":8001",
            "ETCDRoot":"/backends",
            "ETCDWatch":["/backends/center/","/backends/unique/","/backends/"],
            "ETCDServicePath":"/backends/agent/",
            "Version":"1.0",
            "LogLevel":"Debug",
            "PProfListen":":8006"
        },
        {
            "ID":"agent2",
            "MixListen":":8010",
            "GrpcListen":":8011",
            "ETCDRoot":"/backends",
            "ETCDWatch":["/backends/center/","/backends/unique/","/backends/"],
            "ETCDServicePath":"/backends/agent/",
            "Version":"2.0",
            "LogLevel":"Debug",
            "PProfListen":":8016"
        }
    ],
    "GameList":[
        {
            "MysqlConfig" :"user:test1@tcp(192.168.0.104:3306)/test?allowNativePasswords=true",
            "ID":"game1",
            "GrpcListen":":10001",
            "ETCDRoot":"/backends",
            "ETCDWatch":["/backends/center/","/backends/"],
            "ETCDServicePath":"/backends/game/",
            "Version":"1.0",
            "LogLevel":"Debug",
            "PProfListen":":10006"
        },
        {
            "MysqlConfig" :"user:test1@tcp(192.168.0.104:3306)/test?allowNativePasswords=true",
            "ID":"game2",
            "GrpcListen":":10011",
            "ETCDRoot":"/backends",
            "ETCDWatch":["/backends/center/","/backends/"],
            "ETCDServicePath":"/backends/game/",
            "Version":"1.0",
            "LogLevel":"Debug",
            "PProfListen":":10016"
        }
    ]
}
