<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>物品管理</title>
    <link href="../../res/admin/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../../res/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../res/admin/css/bootstrap-combobox.css" rel="stylesheet">

    <link href="../../res/admin/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
    <link href="../../res/admin/css/plugins/jqGrid/ui.jqgrid.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="../../res/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <link href="../../res/admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <!-- iCheck -->
    <link href="../../res/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="../../res/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">

    <!-- TouchSpin -->
    <link href="../../res/admin/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../res/css/weui.css" />


    <link href="../../res/admin/css/animate.css" rel="stylesheet">
    <link href="../../res/admin/css/style.css" rel="stylesheet">
</head>

<body class="gray-bg">
    <div id="inner-wrapper">
        <div class="wrapper wrapper-content  animated fadeInRight" style="padding: 0; ">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox gray-bg" style="border: none;">
                        <div class="ibox-content gray-bg">
                            <div id="search-form" class="form-inline" style="margin-bottom: 34px;">
                                <div class="form-group" style="float: right;">
                                    <a onclick="javascript:app.setWinUrl(this)" class="btn btn-default" data-toggle="modal" href="part_info.html" data-target="#win">
                                        <i class="fa fa-plus"></i>&nbsp;新增</a>
                                    <a class="btn btn-default" data-toggle="modal" href="part_import.html" data-target="#win">
                                        <i class="fa fa-file-excel-o"></i>&nbsp;导入</a>
                                    <a onclick="exportFile()" class="btn btn-default">
                                        <i class="fa fa-reply"></i>&nbsp;导出</a>
                                    <a onclick="templateDownload()" class="btn btn-default">
                                        <i class="fa fa-download"></i>&nbsp;模板下载</a>
                                </div>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label for="part_num" class="sr-only">商品编号</label>
                                        <select class="combobox form-control" id="part_num">
                                            <option value="" selected="selected">商品编号</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="type" class="sr-only">类别</label>
                                        <select class="combobox form-control" id="type">
                                            <option value="" selected="selected">类别</option>
                                            <option value="工具">工具</option>
                                            <option value="易耗品">易耗品</option>
                                            <option value="配件">配件</option>
                                            <option value="检验仪器">检验仪器</option>
                                            <option value="调试设备">调试设备</option>
                                            <option value="设备">设备</option>
                                            <option value="其他">其他</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="part_name" class="sr-only">商品名称</label>
                                        <select class="combobox form-control" id="part_name">
                                            <option value="" selected="selected">商品名称</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="size" class="sr-only">规格/型号</label>
                                        <select class="combobox form-control" id="size">
                                            <option value="" selected="selected">规格/型号</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="is_stop" class="sr-only">是否停用</label>
                                        <select class="combobox form-control" id="is_stop">
                                            <option value="" selected="selected">是否停用</option>
                                            <option value="是">是</option>
                                            <option value="否">否</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="has_photo" class="sr-only">是否有图片</label>
                                        <select class="combobox form-control" id="has_photo">
                                            <option value="" selected="selected">是否有图片</option>
                                            <option value="是">是</option>
                                            <option value="否">否</option>
                                        </select>
                                    </div>

                                    <button class="btn btn-primary" onclick="getPartList()">查询</button>
                                </div>
                            </div>
                            <div class="jqGrid_wrapper">
                                <table id="table"></table>
                                <div id="pager"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="win" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="width: 90%;">
            <div class="modal-content animated fadeIn">

            </div>
        </div>
    </div>

    <script src="../../res/admin/js/jquery-2.1.1.js"></script>
    <script src="../../res/admin/js/bootstrap.min.js"></script>
    <script src="../../res/admin/js/bootstrap-combobox.js"></script>

    <!-- Toastr script -->
    <script src="../../res/admin/js/plugins/toastr/toastr.min.js"></script>

    <!-- Sweet alert -->
    <script src="../../res/admin/js/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- jqGrid -->
    <script src="../../res/admin/js/plugins/jqGrid/i18n/grid.locale-en.js"></script>
    <script src="../../res/admin/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>

    <!-- iCheck -->
    <script src="../../res/admin/js/plugins/iCheck/icheck.min.js"></script>

    <!-- TouchSpin -->
    <script src="../../res/admin/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>

    <script src="https://cdn.bootcss.com/blueimp-md5/2.6.0/js/md5.js"></script>
    <script type="text/javascript" src="../../res/js/cos-js-sdk-v4.js"></script>

    <script src="../../res/admin/js/app.js"></script>
    <script>
        $(document).ready(function () {
            $("#location", window.parent.document).html("后台管理 >仓库存管理 >物品管理");

            app.initCombobox({
                url: 'GetPartNumList',
                callback_params: {
                    id: 'part_num',
                }
            });

            app.initCombobox({
                url: 'GetPartNameList',
                callback_params: {
                    id: 'part_name',
                }
            });

            app.initCombobox({
                url: 'GetPartSizeList',
                callback_params: {
                    id: 'size',
                }
            });

            $("#type").combobox();
            $("#is_stop").combobox();
            $("#has_photo").combobox();
            initGrid();
            getPartList();

            $("#win").on("hidden.bs.modal", function () {
                $(this).removeData("bs.modal");
            });
        });

        function getPartList() {
            var partNum = $("#part_num").val();

            if (partNum.trim() == "") {
                partNum = 0;
            } else {
                partNum = parseInt(partNum);
            }

            var partName = $("#part_name").val();
            var partSize = $("#size").val();
            var partType = $("#type").val();
            var isStop = $("#is_stop").val();
            var hasPhoto = $("#has_photo").val();
            var options = {
                url: 'GetPartInfo',
                data: {
                    PartID: partNum,
                    PartName: partName,
                    PartType: partType,
                    PartSize: partSize,
                    IsStop: isStop,
                    HasPhoto: hasPhoto,
                },
                callback: setPartGrid,
                callback_params: {}
            };

            app.execPostRequest(options);
        }

        function setPartGrid(res, params) {
            res = eval("(" + res + ")");
            if (res.code == 10000) {
                var dataSource = [];
                if (res.data && res.data.length > 0) {
                    res.data.forEach(function (value, index, arr) {
                        dataSource.push({
                            id: value.ID,
                            PartNum: value.PartNum,
                            Name: value.Name,
                            Measurement: value.Measurement,
                            Size: value.Size,
                            Brand: value.Brand,
                            Type: value.Type,
                            IsStop: value.IsStop,
                            HasPhoto: value.HasPhoto,
                            Number: value.Number,
                            AdvicePrice: value.AdvicePrice,
                            Opts: value.ID,
                        });
                    });
                }
                $("#table").jqGrid('clearGridData');  //清空表格
                $("#table").jqGrid('setGridParam', {  // 重新加载数据
                    datatype: 'local',
                    data: dataSource,
                    page: 1
                }).trigger("reloadGrid");
            } else {
                app.error(res.msg);
            }
        }

        function initGrid() {
            $("#table").jqGrid({
                colNames: ['', '商品编号', '商品名称', '单位', '规格型号', '品牌', '类别', '停用', '是否有图', '备货下限', '建议价格', '操作'],
                colModel: [
                    {
                        name: 'id',
                        index: 'id',
                        sortable: false,
                        hidden: true,
                        key: true,
                        fixed: true,
                        jsonmap: "ID",
                        align: "left",
                    },
                    { name: 'PartNum' },
                    { name: 'Name' },
                    { name: 'Measurement' },
                    { name: 'Size' },
                    { name: 'Brand' },
                    { name: 'Type' },
                    {
                        name: 'IsStop',
                        formatter: function (value, options, rowObject) {
                            return value ? "是" : "否";
                        }
                    },
                    {
                        name: 'HasPhoto',
                        formatter: function (value, options, rowObject) {
                            return value ? "是" : "否";
                        }
                    },
                    { name: 'Number' },
                    { name: 'AdvicePrice' },
                    {
                        name: 'Opts',
                        sortable: false,
                        width: "250px",
                        fixed: true,
                        formatter: function (value, options, rowObject) {
                            var url = "part_info.html?key=" + encodeURIComponent(value);
                            return "<a style='color:#134da5;' href='" + url + "' onclick='javascript:app.setWinUrl(this)' data-toggle='modal' data-target='#win'><i class='fa fa-edit'></i>&nbsp;编辑</a>"
                                + "&nbsp;|&nbsp;"
                                + "<a style='color:#ed5565;' onclick='doStop(this)'  href='javascript:void(0);' data-key='" + value + "'><i class='fa fa-trash'></i>&nbsp;停用</a>";

                        }
                    }
                ],
                rowNum: 10,
                rowList: app.rowList,
                data: [],
                datatype: "local",
                viewrecords: true,
                pager: "#pager",
                height: 'auto',
                autowidth: true,
                shrinkToFit: true,
                forceFit: true,
                altRows: true,
                altclass: 'table-alt',
            });

            // Add responsive to jqGrid
            app.fitGrid();
            $(window).bind('resize', function () {
                app.fitGrid();
            });
        }

        function part_refresh(key, action) {
            var options = {
                url: 'GetPartWithKey',
                data: {
                    ID: key,
                },
                callback: function (res, params) {
                    res = eval("(" + res + ")");
                    if (res.code == 10000) {
                        var recode = {
                            id: res.data.ID,
                            PartNum: res.data.PartNum,
                            Name: res.data.Name,
                            Measurement: res.data.Measurement,
                            Size: res.data.Size,
                            Brand: res.data.Brand,
                            Type: res.data.Type,
                            IsStop: res.data.IsStop,
                            HasPhoto: res.data.HasPhoto,
                            Number: res.data.Number,
                            AdvicePrice: res.data.AdvicePrice,
                            Opts: res.data.ID,
                        };

                        if (action == "add") {
                            $("#table").jqGrid("addRowData", recode.id, recode, "first");
                        } else {
                            $('#table').setRowData(recode.id, recode, '');
                        }
                    }
                },
                callback_params: {}
            };

            app.execPostRequest(options);
        }

        function exportFile() {
            var options = {
                url: 'ExportPartFile',
                filename: '物品导出结果.xlsx',
            };
            app.execGetRequest(options);
        }

        function templateDownload() {
            var options = {
                url: 'Part.xlsx',
                filename: '物品模板.xlsx',
            };
            app.templateFileDownload(options);
        }


        function doStop(obj) {
            var key = $(obj).data("key");
            var options = {
                url: 'StopPart',
                data: {
                    ID: parseInt(key),
                },
                callback: function (res, params) {
                    part_refresh(parseInt(key), "edit");
                },
                callback_params: {
                }
            };

            app.execPostRequest(options);
        }

    </script>
</body>

</html>