<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>挑拨查询</title>
    <link href="../../res/admin/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../../res/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../res/admin/css/bootstrap-combobox.css" rel="stylesheet">

    <link href="../../res/admin/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
    <link href="../../res/admin/css/plugins/jqGrid/ui.jqgrid.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="../../res/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <link href="../../res/admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <!-- TouchSpin -->
    <link href="../../res/admin/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">

    <link href="../../res/admin/css/animate.css" rel="stylesheet">
    <link href="../../res/admin/css/style.css" rel="stylesheet">

    <!-- Data picker -->
    <link href="../../res/admin/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
</head>

<body class="gray-bg">
    <div id="inner-wrapper">
        <div class="wrapper wrapper-content  animated fadeInRight" style="padding: 0; ">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox gray-bg" style="border: none;">
                        <div class="ibox-content gray-bg">
                            <div id="search-form" class="form-inline" style="margin-bottom: 34px;">
                                <div class="form-group" style="float: right;">
                                    <a onclick="javascript:app.setWinUrl(this)" class="btn btn-default" data-toggle="modal" href="stock_change_export.html" data-target="#win">
                                        <i class="fa fa-plus"></i>&nbsp;导出</a>
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="part_num" class="sr-only">商品编号</label>
                                    <select class="combobox form-control" id="part_num">
                                        <option value="" selected="selected">商品编号</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="type" class="sr-only">类别</label>
                                    <select class="combobox form-control" id="type">
                                        <option value="" selected="selected">类别</option>
                                        <option value="工具">工具</option>
                                        <option value="易耗品">易耗品</option>
                                        <option value="配件">配件</option>
                                        <option value="检验仪器">检验仪器</option>
                                        <option value="调试设备">调试设备</option>
                                        <option value="设备">设备</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="part_name" class="sr-only">商品名称</label>
                                    <select class="combobox form-control" id="part_name">
                                        <option value="" selected="selected">商品名称</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="size" class="sr-only">规格/型号</label>
                                    <select class="combobox form-control" id="size">
                                        <option value="" selected="selected">规格/型号</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <span class="input-group-addon">调拨时间:从</span>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" class="form-control" name="start" value="" />
                                        <span class="input-group-addon">到</span>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" class="form-control" name="end" value="" />
                                    </div>
                                </div>
                                <button class="btn btn-primary" onclick="getStockChangeList()">查询</button>
                            </div>
                            <div class="jqGrid_wrapper">
                                <table id="table"></table>
                                <div id="pager"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="win" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="width: 90%;">
            <div class="modal-content animated fadeIn">

            </div>
        </div>
    </div>

    <script src="../../res/admin/js/jquery-2.1.1.js"></script>
    <script src="../../res/admin/js/bootstrap.min.js"></script>
    <script src="../../res/admin/js/bootstrap-combobox.js"></script>

    <!-- Toastr script -->
    <script src="../../res/admin/js/plugins/toastr/toastr.min.js"></script>

    <!-- Sweet alert -->
    <script src="../../res/admin/js/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- jqGrid -->
    <script src="../../res/admin/js/plugins/jqGrid/i18n/grid.locale-en.js"></script>
    <script src="../../res/admin/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>

    <!-- TouchSpin -->
    <script src="../../res/admin/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>

    <!-- Data picker -->
    <script src="../../res/admin/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="../../res/admin/js/plugins/datapicker/locales/bootstrap-datepicker.zh-CN.js"></script>

    <script src="https://cdn.bootcss.com/blueimp-md5/2.6.0/js/md5.js"></script>
    <script src="../../res/admin/js/app.js"></script>
    <script>
        $(document).ready(function () {
            $("#location", window.parent.document).html("后台管理 >仓库存管理 >调拨查询");

            app.initCombobox({
                url: 'GetPartNumList',
                callback_params: {
                    id: 'part_num',
                }
            });

            app.initCombobox({
                url: 'GetPartNameList',
                callback_params: {
                    id: 'part_name',
                }
            });

            app.initCombobox({
                url: 'GetPartSizeList',
                callback_params: {
                    id: 'size',
                }
            });

            $("#type").combobox();

            $("#datepicker").datepicker({
                language: 'zh-CN',
                keyboardNavigation: false,
                todayBtn: "linked",
                forceParse: true,
                autoclose: true,
            });

            initGrid();
            // getStockChangeList();

            $("#win").on("hidden.bs.modal", function () {
                $(this).removeData("bs.modal");
            });
        });


        var gridOptions = {
            getParam: function () {
                var partNum = $("#part_num").val();

                if (partNum.trim() == "") {
                    partNum = 0;
                } else {
                    partNum = parseInt(partNum);
                }

                var partName = $("#part_name").val();
                var partSize = $("#size").val();
                var partType = $("#type").val();
                var start = $("input[name='start']").val();
                if (start == "") {
                    start = 0;
                } else {
                    start = new Date(start).getTime() / 1000;
                }
                var end = $("input[name='end']").val();
                if (end == "") {
                    end = 0;
                } else {
                    end = new Date(end).getTime() / 1000;
                }

                var postData = $("#table").jqGrid('getGridParam', 'postData');
                var rowNum = 10;
                var page = 1;
                if (postData) {
                    rowNum = postData.rows;
                    page = postData.page;
                }

                var url = $("#table").jqGrid('getGridParam', 'url');
                var data = {
                    PartID: partNum,
                    PartName: partName,
                    PartType: partType,
                    PartSize: partSize,
                    MinTime: start,
                    MaxTime: end,
                    Start: (page - 1) * rowNum,
                    Num: parseInt(rowNum),
                }

                data = JSON.stringify(data);
                var syn = md5(data + app.key)
                return {
                    data: data,
                    syn: syn,
                };
            }
        }

        function getStockChangeList() {
            $("#table").jqGrid('setGridParam', {  // 重新加载数据
                // datatype: 'local',
                // data: dataSource,
                page: 1,
                url: app.serverName + 'GetStockChangeInfo',
            }).trigger("reloadGrid");
        }


        function initGrid() {
            $("#table").jqGrid({
                colNames: ['商品编号', '名称', '规格/型号', '入库单号', '单价', '调拨数量', '调拨原因', '原仓库', '调拨到'],
                colModel: [
                    { name: 'PartNum' },
                    { name: 'PartName' },
                    { name: 'Size' },
                    {
                        name: 'StockInID',
                        fixed: true,
                    },
                    { name: 'Price' },
                    { name: 'Number' },
                    { name: 'ChangeReason' },
                    { name: 'RepertoryFromName' },
                    { name: 'RepertoryToName' },
                ],
                url: app.serverName + 'GetStockChangeInfo',
                datatype: 'json',
                rowNum: 10,
                rowList: app.rowList,
                data: [],
                viewrecords: true,
                pager: "#pager",
                height: 'auto',
                autowidth: true,
                shrinkToFit: true,
                forceFit: true,
                altRows: true,
                altclass: 'table-alt',
                jsonReader: {
                    root: "data.Result",
                    total: "data.TotalPage",
                    records: "data.Number",
                    page: "data.CurPage",
                },
                serializeGridData: function (postData) {
                    return gridOptions.getParam(postData);
                },
            });

            // Add responsive to jqGrid
            app.fitGrid();
            $(window).bind('resize', function () {
                app.fitGrid();
            });
        }

        function exportManufacturerFile() {
            var options = {
                url: 'ExportManufacturerFile',
                filename: '品牌导出结果.xlsx',
            };
            app.execGetRequest(options);
        }

        function templateDownload() {
            var options = {
                url: 'Manufacturer.xlsx',
                filename: '品牌模板.xlsx',
            };
            app.templateFileDownload(options);
        }


        function doDeleteBrand(obj) {
            var key = $(obj).data("key");
            app.deleteByKey(key, app.deleteBrand);
        }

    </script>
</body>

</html>