<div class="modal-header" style="padding: 15px">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true" style="font-size: 30px;">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h6 class="modal-title">自检抽查工单流程管理</h6>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>工单号：
                        <span id="w_lift_maintain_TicketID"></span>
                    </h5>
                </div>

                <div class="ibox-title">
                    <h5>自检计划变更</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="radio-inline i-checks">
                                <input type="radio" name="w_operation" value="1">自检计划变更
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">
                                电梯号
                            </label>

                            <div class="col-sm-10">
                                <span id="w_elevator"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">
                                自检抽查计划时间
                            </label>

                            <div class="col-sm-10">
                                <div class="input-group date w_self_this_time">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input id="w_self_this_time" type="text" class="form-control" value="" placeholder="自检抽查计划时间">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">
                                自检抽查员
                            </label>

                            <div class="col-sm-10">
                                <div class="col-sm-8">
                                    <label for="w_person1" class="sr-only">组长</label>
                                    <select class="combobox form-control" id="w_person1">
                                        <option value="" selected="selected">组长</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-primary" onclick="doSearchPersonPlan(1)">已有工作计划
                                    </button>
                                </div>
                                <br/>
                                <br/>
                                <div class="col-sm-8">
                                    <label for="w_person2" class="sr-only">组员</label>
                                    <select class="combobox form-control" id="w_person2">
                                        <option value="" selected="selected">组员</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-primary" onclick="doSearchPersonPlan(2)">已有工作计划
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">
                                自检抽查项目
                            </label>

                            <div class="col-sm-10">
                                <label for="w_project" class="sr-only">自检抽查项目</label>
                                <select class="combobox form-control" id="w_project">
                                    <option value="" selected="selected">自检抽查项目</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">
                                <span class="input-required">*</span>变更原因
                            </label>

                            <div class="col-sm-10">
                                <input type="text" id="w_reason" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox-title">
                    <h5>异常关闭</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="radio-inline i-checks">
                                <input type="radio" name="w_operation" value="2">异常关闭
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <span class="input-required">*</span>关闭原因
                            </label>

                            <div class="col-sm-10">
                                <input type="text" id="w_lift_maintain_closeReason" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">返回</button>
    <button type="button" class="btn btn-primary" onclick="saveLiftMaintainOperation()">确认</button>
</div>
<script>
    var list = [];
    $(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $('.input-group.date').datepicker({
            language: 'zh-CN',
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
        });

        app.initCombobox({
            url: 'GetTeamInfo',
            callback_params: {
                id: 'w_team_selector',
            }
        });

        app.initCombobox({
            url: 'GetMaintainProjectInfo',
            data: {
                SearchName: "",
                BigType: "自检",
                IntervalType: "自检",
                IsAbandon: "未弃用",
            },
            callback_params: {
                id: 'w_project',
            }
        });

        var templist = localStorage.getItem("list").split(",");
        templist.forEach(function (v, index, arr) {
            list.push(parseInt(v));
        })
        var html = ""
        list.forEach(function (v, index, arr) {
            if (html == "") {
                html = v;
            } else {
                html += "," + v;
            }
        })
        $("#w_lift_maintain_TicketID").html(html);

        var options = {
            url: 'IsSelfTicketListSameDutyTeam',
            data: {
                TicketIDList: list,
            },
            callback: function (res, param) {
                res = eval("(" + res + ")");
                if (res.code == 10000) {
                    isMulTicketSame = true;
                    var options = {
                        url: 'FindTeamWithKey',
                        data: {
                            TeamName: res.data,
                        },
                        callback: function (res, params) {
                            res = eval("(" + res + ")");
                            if (res.code == 10000) {
                                if (res.data.Member && res.data.Member.length > 0) {
                                    res.data.Member.forEach(function (v, i, a) {
                                        var html = '<option value="' + v.UserName + '">' + v.PersonName + '</option>';
                                        $("#w_person1").append(html);
                                        $("#w_person2").append(html);
                                    })

                                } else {
                                    app.error(res.msg);
                                    $("#w_person1").combobox("refresh");
                                    $("#w_person2").combobox("refresh");
                                    $("#w_person1").combobox("clearTarget");
                                    $("#w_person2").combobox("clearTarget");
                                    $("#w_person1").combobox("clearElement");
                                    $("#w_person2").combobox("clearElement");
                                }
                            }
                        },
                        callback_params: {}
                    };

                    app.execPostRequest(options);
                } else {
                    app.error(res.msg);
                }
            },
            callback_params: {
            }
        };

        app.execPostRequest(options);
        return;

    });

    function saveLiftMaintainOperation() {
        var type = $("input[name='w_operation']:checked").val();

        if (type == null) {
            app.info("请选择要处理的选项");
            return;
        }

        //自检变更
        if (type == 1) {
            if ($("#w_reason").val() == "") {
                app.warning("请输入变更原因");
                return;
            }

            var starttime = $("#w_self_this_time").val();
            var Person1 = $("#w_person1").val();
            var Person2 = $("#w_person2").val();
            var Project = $("#w_project").val();
            var Reason = $("#w_reason").val();

            if (Project == "") {
                app.warning("请选择自检项目");
                return;
            }

            var options = {
                url: 'ChangeLotsTicketSelfCheckProject',
                data: {
                    TicketIDList: list,
                    UserName: app.getLoginUserName(),
                    SelfCheckID: parseInt(Project),
                    StartTime: new Date(starttime).getTime() / 1000,
                    ChangeReason: Reason,
                    LeaderUserName: Person1,
                    MemberUserName: Person2,
                },
                callback: app.saveCallbackWindow,
                callback_params: {
                    action: "edit",
                    refresh: lift_filter_refresh,
                    key: app.win_key,
                }
            };

            app.execPostRequest(options);
            return;
        }

        //异常关闭
        if (type == 2) {
            var reason = $("#w_lift_maintain_closeReason").val().trim();
            if (reason == "") {
                app.warning("请输入异常关闭的原因");
                return;
            }

            var options = {
                url: 'SelfCheckLotsTicketUnusualClose',
                data: {
                    TicketIDList: list,
                    UnusualCloseReason: reason,
                    UserName: app.getLoginUserName(),
                },
                callback: app.saveCallbackWindow,
                callback_params: {
                    action: "edit",
                    refresh: list_filter_refresh,
                    key: list,
                }
            };

            app.execPostRequest(options);
            return;
        }
    }

    function doSearchPersonPlan(index) {
        var person;
        if (index == 1) {
            var person = $("#w_person1").val();
            if (person == "" || person == null) {
                app.info("请先选择自检组长");
                return;
            }
        }
        else if (index == 2) {
            var person = $("#w_person2").val();
            if (person == "" || person == null) {
                app.info("请先选择自检组员");
                return;
            }
        }

        layer.open({
            type: 2,
            title: '已有工作计划',
            shadeClose: true,
            shade: 0.8,
            area: ['90%', '90%'],
            content: '../data/work_plan_win.html?key=' + encodeURIComponent(person)
        });
    }
</script>