<div class="modal-header" style="padding: 15px">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true" style="font-size: 30px;">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h6 class="modal-title">新增自检抽查工单</h6>
</div>
<div class="modal-body">
    <div class="row">

        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>电梯选择</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-inline" style="margin-bottom: 10px;">
                            <div class="form-group" style="margin: 0">
                                <div class="col-sm-10">
                                    <label for="w_property" class="sr-only">物业</label>
                                    <select class="combobox form-control" id="w_property" onchange="doPropertyChange()">
                                        <option value="" selected="selected">物业</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="margin: 0">
                                <div class="col-sm-10">
                                    <label for="w_project" class="sr-only">项目</label>
                                    <select class="combobox form-control" id="w_project" onchange="doProjectChange()">
                                        <option value="" selected="selected">项目</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="margin: 0">
                                <div class="col-sm-10">
                                    <label for="w_elevator" class="sr-only">电梯号</label>
                                    <select class="combobox form-control" id="w_elevator" onchange="doElevatorChange()">
                                        <option value="" selected="selected">电梯号</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">
                                地址
                            </label>

                            <div class="col-sm-10">
                                <span id="w_lift_maintain_address"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">
                                联系人及电话
                            </label>

                            <div class="col-sm-10">
                                <span id="w_lift_maintain_info"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-title">
                    <h5>工作描述</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">
                                <span class="input-required">*</span> 自检项目
                            </label>

                            <div class="col-sm-10">
                                <label for="w_ProjectName" class="sr-only">自检项目</label>
                                <select class="combobox form-control" id="w_ProjectName">
                                    <option value="" selected="selected">自检项目</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">
                                <span class="input-required">*</span>自检时间
                            </label>

                            <div class="col-sm-10">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input id="w_time" type="text" class="form-control" value="" placeholder="自检时间">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">
                                <span class="input-required">*</span> 自检组长
                            </label>

                            <div class="col-sm-6">
                                <label for="w_person1" class="sr-only">自检组长</label>
                                <select class="combobox form-control" id="w_person1">
                                    <option value="" selected="selected">自检组长</option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <button class="btn btn-primary" onclick="doSearchPersonPlan(1)">已有工作计划
                                </button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">
                                自检组员
                            </label>

                            <div class="col-sm-6">
                                <label for="w_person2" class="sr-only">自检组员</label>
                                <select class="combobox form-control" id="w_person2">
                                    <option value="" selected="selected">自检组员</option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <button class="btn btn-primary" onclick="doSearchPersonPlan(2)">已有工作计划
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">返回</button>
    <button type="button" class="btn btn-primary" onclick="saveLiftCheckInfo()">确认</button>
</div>
<script>
    $(function () {
        app.win_action = 'add';

        $('.input-group.date').datepicker({
            language: 'zh-CN',
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
        });

        app.initCombobox({
            url: 'GetPropertyName',
            callback_params: {
                id: 'w_property',
            }
        });

        app.initCombobox({
            url: 'GetProjectName',
            callback_params: {
                id: 'w_project',
            }
        });

        app.initCombobox({
            url: 'GetElevatorNumByProject',
            callback_params: {
                id: 'w_elevator',
            }
        });

        app.initCombobox({
            url: 'GetMaintainProjectInfo',
            data: {
                SearchName: "",
                BigType: "自检",
                IntervalType: "自检",
                IsAbandon: "未弃用",
            },
            callback_params: {
                id: 'w_ProjectName',
            }
        });

        $("#w_person1").combobox();
        $("#w_person2").combobox();
    });

    function doPropertyChange() {
        var property = $("#w_property").val();
        $("#w_project").html('<option value="" selected="selected">项目</option>');
        $("#w_elevator").html('<option value="" selected="selected">电梯号</option>');
        app.initCombobox({
            url: 'GetProjectName',
            data: {
                PropertyName: property.trim(),
            },
            callback_params: {
                id: 'w_project',
                refresh: true,
            }
        });
        app.initCombobox({
            url: 'GetElevatorNumByProject',
            data: {
                PropertyName: property.trim(),
            },
            callback_params: {
                id: 'w_elevator',
                refresh: true,
            }
        });

        $("#w_person1").html('<option value="" selected="selected">自检组长</option>');
        $("#w_person2").html('<option value="" selected="selected">自检组员</option>');
        $("#w_person1").combobox("clearTarget");
        $("#w_person1").combobox("clearElement");
        $("#w_person1").combobox("refresh");

        $("#w_person2").combobox("clearTarget");
        $("#w_person2").combobox("clearElement");
        $("#w_person2").combobox("refresh");

        $("#w_lift_maintain_address").html("");
        $("#w_lift_maintain_info").html("");
    }

    function doProjectChange() {
        var project = $("#w_project").val();
        var property = $("#w_property").val();
        $("#w_elevator").html('<option value="" selected="selected">电梯号</option>');
        app.initCombobox({
            url: 'GetElevatorNumByProject',
            data: {
                ProjectName: project.trim(),
                PropertyName: property.trim(),
            },
            callback_params: {
                id: 'w_elevator',
                refresh: true,
            }
        });

        $("#w_person1").html('<option value="" selected="selected">自检组长</option>');
        $("#w_person2").html('<option value="" selected="selected">自检组员</option>');
        $("#w_person1").combobox("clearTarget");
        $("#w_person1").combobox("clearElement");
        $("#w_person1").combobox("refresh");

        $("#w_person2").combobox("clearTarget");
        $("#w_person2").combobox("clearElement");
        $("#w_person2").combobox("refresh");

        $("#w_lift_maintain_address").html("");
        $("#w_lift_maintain_info").html("");
    }

    function doElevatorChange() {
        var elevator = $("#w_elevator").val();
        $("#w_person1").html('<option value="" selected="selected">自检组长</option>');
        $("#w_person2").html('<option value="" selected="selected">自检组员</option>');
        if (elevator == "") {
            $("#w_lift_maintain_address").html("");
            $("#w_lift_maintain_info").html("");

            $("#w_person1").combobox("clearTarget");
            $("#w_person1").combobox("clearElement");
            $("#w_person1").combobox("refresh");

            $("#w_person2").combobox("clearTarget");
            $("#w_person2").combobox("clearElement");
            $("#w_person2").combobox("refresh");
        } else {
            var options = {
                url: 'GetElevatorInfoByNum',
                data: {
                    ElevatorNum: elevator,
                },
                callback: function (res, params) {
                    res = eval("(" + res + ")");
                    if (res.code == 10000) {
                        var info = res.data;
                        var Contracts = "";
                        if (info.BuildingInfo) {
                            info.BuildingInfo.forEach(function (value, index, arr) {
                                Contracts += value.Remark + " " + value.PersonName + " " + value.Phone + ";<br/>";
                            });
                        }
                        $("#w_lift_maintain_address").html(info.Address);
                        $("#w_lift_maintain_info").html(Contracts);

                        app.initCombobox({
                            url: 'GetDealMemberNameWithElevatorNum',
                            data: {
                                ElevatorNum: $("#w_elevator").val(),
                                SmallTeamType: "自检",
                            },
                            callback_params: {
                                id: 'w_person1',
                                refresh: true,
                            }
                        })

                        app.initCombobox({
                            url: 'GetDealMemberNameWithElevatorNum',
                            data: {
                                ElevatorNum: $("#w_elevator").val(),
                                SmallTeamType: "自检",
                            },
                            callback_params: {
                                id: 'w_person2',
                                refresh: true,
                            }
                        })
                    } else {
                        $("#w_lift_maintain_address").html("");
                        $("#w_lift_maintain_info").html("");

                        $("#w_person1").combobox("clearTarget");
                        $("#w_person1").combobox("clearElement");
                        $("#w_person1").combobox("refresh");

                        $("#w_person2").combobox("clearTarget");
                        $("#w_person2").combobox("clearElement");
                        $("#w_person2").combobox("refresh");
                        app.error(res.msg);
                    }
                },
                callback_params: {}
            };

            app.execPostRequest(options);
        }
    }

    function saveLiftCheckInfo() {
        var ElevatorNum = $("#w_elevator").val();
        if (ElevatorNum == "") {
            app.warning("请先选择电梯");
            return;
        }
        var SelfCheckProjectID = $("#w_ProjectName").val();
        if (SelfCheckProjectID == "") {
            app.warning("请选择自检项目");
            return;
        }

        var StartTime = $("#w_time").val();
        if (StartTime.trim() == "") {
            app.warning("请选择自检时间");
            return;
        }
        StartTime = new Date(StartTime).getTime() / 1000;

        var Person1 = $("#w_person1").val();
        var Person2 = $("#w_person2").val();
        if (Person1 == "") {
            app.warning("请选择自检组长");
            return;
        }

        var options = {
            url: 'AddSelfCheckTicket',
            data: {
                UserName: app.getLoginUserName(),
                ElevatorNum: ElevatorNum,
                StartTime: StartTime,
                LeaderUserName: Person1,
                MemberUserName: Person2,
                SelfCheckProjectID: parseInt(SelfCheckProjectID),
            },
            callback: app.saveCallbackWindow,
            callback_params: {
                action: "add",
                refresh: lift_filter_refresh,
                key: 'new_key',
            }
        };

        app.execPostRequest(options);
    }

    function doSearchPersonPlan(index) {
        var person;
        if (index == 1) {
            var person = $("#w_person1").val();
            if (person == "" || person == null) {
                app.info("请先选择自检组长");
                return;
            }
        }
        else if (index == 2) {
            var person = $("#w_person2").val();
            if (person == "" || person == null) {
                app.info("请先选择自检组员");
                return;
            }
        }

        layer.open({
            type: 2,
            title: '已有工作计划',
            shadeClose: true,
            shade: 0.8,
            area: ['90%', '90%'],
            content: '../data/work_plan_win.html?key=' + encodeURIComponent(person)
        });
    }

</script>