<div class="modal-header" style="padding: 15px">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true" style="font-size: 30px;">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h6 class="modal-title">电梯维保工单流程管理</h6>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>工单号：
                        <span id="w_lift_maintain_TicketID"></span>
                    </h5>
                </div>
                <div class="ibox-title">
                    <h5>异常关闭</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="radio-inline i-checks">
                                <input type="radio" name="w_operation" value="1">异常关闭
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <span class="input-required">*</span>关闭原因
                            </label>

                            <div class="col-sm-10">
                                <input type="text" id="w_lift_maintain_closeReason" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-title">
                    <h5>工作派单</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="radio-inline i-checks">
                                <input type="radio" name="w_operation" value="3">人员变更
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <span class="input-required">*</span>维保人员
                            </label>

                            <div class="col-sm-10">
                                <div class="form-horizontal">
                                    <div class="form-group" style="margin-bottom: 5px;">
                                        <div class="col-md-8">
                                            <label for="w_global_MaintainTeamLeader" class="sr-only">选择维保组员</label>
                                            <select class="combobox form-control" id="w_global_MaintainTeamLeader">
                                                <option value="" selected="selected">选择维保组员</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-primary" onclick="doSearchPersonPlan(1)">已有工作计划
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group" style="margin-bottom: 5px;">
                                        <div class="col-md-8">
                                            <label for="w_global_MaintainTeamMember" class="sr-only">选择维保组员</label>
                                            <select class="combobox form-control" id="w_global_MaintainTeamMember">
                                                <option value="" selected="selected">选择维保组员</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-primary" onclick="doSearchPersonPlan(2)">已有工作计划
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group" style="margin-bottom: 5px;">
                                        <div class="col-md-8">
                                            <label for="w_global_MaintainTeamMember2" class="sr-only">选择维保组员</label>
                                            <select class="combobox form-control" id="w_global_MaintainTeamMember2">
                                                <option value="" selected="selected">选择维保组员</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-primary" onclick="doSearchPersonPlan(3)">已有工作计划
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">返回</button>
    <button type="button" class="btn btn-primary" onclick="saveLiftMaintainOperation()">确认</button>
</div>
<script>
    var isMulTicketSame = false;
    var list = [];
    $(function () {

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        var templist = localStorage.getItem("list").split(",");
        templist.forEach(function (v, index, arr) {
            list.push(parseInt(v));
        })
        var html = ""
        list.forEach(function (v, index, arr) {
            if (html == "") {
                html = v;
            } else {
                html += "," + v;
            }
        })
        $("#w_lift_maintain_TicketID").html(html);

        var options = {
            url: 'IsMaintainTicketListSameDutyTeam',
            data: {
                TicketIDList: list,
            },
            callback: function (res, param) {
                res = eval("(" + res + ")");
                if (res.code == 10000) {
                    isMulTicketSame = true;
                    var options = {
                        url: 'FindTeamWithKey',
                        data: {
                            TeamName: res.data,
                        },
                        callback: function (res, params) {
                            res = eval("(" + res + ")");
                            if (res.code == 10000) {
                                if (res.data.Member && res.data.Member.length > 0) {
                                    res.data.Member.forEach(function (v, i, a) {
                                        var html = '<option value="' + v.UserName + '">' + v.PersonName + '</option>';
                                        $("#w_global_MaintainTeamLeader").append(html);
                                        $("#w_global_MaintainTeamMember").append(html);
                                        $("#w_global_MaintainTeamMember2").append(html);
                                    })

                                } else {
                                    app.error(res.msg);
                                    $("#w_global_MaintainTeamLeader").combobox("refresh");
                                    $("#w_global_MaintainTeamMember").combobox("refresh");
                                    $("#w_global_MaintainTeamMember2").combobox("refresh");
                                    $("#w_global_MaintainTeamLeader").combobox("clearTarget");
                                    $("#w_global_MaintainTeamMember").combobox("clearTarget");
                                    $("#w_global_MaintainTeamMember2").combobox("clearTarget");
                                    $("#w_global_MaintainTeamLeader").combobox("clearElement");
                                    $("#w_global_MaintainTeamMember").combobox("clearElement");
                                    $("#w_global_MaintainTeamMember2").combobox("clearElement");
                                }
                            }
                        },
                        callback_params: {}
                    };

                    app.execPostRequest(options);
                } else {
                    app.error(res.msg);
                }
            },
            callback_params: {
            }
        };

        app.execPostRequest(options);
        return;
    });

    function saveLiftMaintainOperation() {
        if (!isMulTicketSame) {
            app.warning("责任小组必须一致才能修改")
            return
        }
        var type = $("input[name='w_operation']:checked").val();

        if (type == null) {
            app.info("请选择要处理的选项");
            return;
        }

        if (type == 1) {
            var reason = $("#w_lift_maintain_closeReason").val().trim();
            if (reason == "") {
                app.warning("请输入异常关闭的原因");
                return;
            }
            var options = {
                url: 'MaintainLotsTicketUnusualClose',
                data: {
                    TicketIDList: list,
                    UnusualCloseReason: reason,
                    UserName: app.getLoginUserName(),
                },
                callback: app.saveCallbackWindow,
                callback_params: {
                    action: "edit",
                    refresh: list_maintain_refresh,
                    key: list,
                }
            };

            app.execPostRequest(options);
            return;
        }

        if (type == 3) {
            var person1 = $("#w_global_MaintainTeamLeader").val();
            var person2 = $("#w_global_MaintainTeamMember").val();
            var person3 = $("#w_global_MaintainTeamMember2").val();
            var options = {
                url: 'ChangeLotsMaintainTicketDealMember',
                data: {
                    TicketIDList: list,
                    UserName: app.getLoginUserName(),
                    ShouldDealMember1: person1,
                    ShouldDealMember2: person2,
                    ShouldDealMember3: person3,

                },
                callback: app.saveCallbackWindow,
                callback_params: {
                    action: "edit",
                    refresh: list_maintain_refresh,
                    key: list,
                }
            };

            app.execPostRequest(options);
            return;
        }
    }

    function doSearchPersonPlan(index) {
        var person;
        if (index == 1) {
            var person = $("#w_global_MaintainTeamLeader").val();
            if (person == "" || person == null) {
                app.info("请先选择维保员工");
                return;
            }
        }
        else if (index == 2) {
            var person = $("#w_global_MaintainTeamMember").val();
            if (person == "" || person == null) {
                app.info("请先选择维保员工");
                return;
            }
        } else if (index == 3) {
            var person = $("#w_global_MaintainTeamMember2").val();
            if (person == "" || person == null) {
                app.info("请先选择维保员工");
                return;
            }
        }

        layer.open({
            type: 2,
            title: '已有工作计划',
            shadeClose: true,
            shade: 0.8,
            area: ['90%', '90%'],
            content: '../data/work_plan_win.html?key=' + encodeURIComponent(person)
        });
    }
</script>