<div class="modal-header" style="padding: 15px">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true" style="font-size: 30px;">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h6 class="modal-title">现场额外工作</h6>
</div>
<div class="modal-body">
    <link rel="stylesheet" href="../../res/css/weui.css" />
    <div class="row">

        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>电梯编号：
                        <span id="w_elevator_num"></span>
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">
                                工作时间:
                            </label>

                            <div class="col-sm-10">
                                <span id="w_work_time"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">
                                工作人员:
                            </label>

                            <div class="col-sm-10">
                                <span id="w_work_person"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">
                                工作描述:
                            </label>

                            <div class="col-sm-10">
                                <span id="w_job_desc"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right">图片详情</label>
                            <div class="col-sm-10">
                                <div class="weui-form-preview__bd">
                                    <div class="weui-gallery" id="gallery">
                                        <span class="weui-gallery__img" id="galleryImg"></span>
                                        <div class="weui-gallery__opr">
                                        </div>
                                    </div>
                                    <div class="weui-uploader__bd">
                                        <ul class="weui-uploader__files" id="uploaderFiles">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">返回</button>
        </div>
        <script>
            $(function () {
                app.win_action = 'add';
                if (app.win_url.indexOf("?key=") > 0) {
                    app.win_action = 'edit';
                    app.win_key = parseInt(decodeURIComponent(app.win_url.split("?key=")[1]));
                    $("#w_lift_maintain_TicketID").html(app.win_key);
                }

                if (app.win_action == 'edit') {

                    var options = {
                        url: 'GetMaintainOtherJobWithKey',
                        data: {
                            ID: parseInt(app.win_key),
                        },
                        callback: initMaintainOtherInfo,
                        callback_params: {}
                    };


                    app.execPostRequest(options);

                }
            });

            function initMaintainOtherInfo(res, param) {
                res = eval("(" + res + ")");
                if (res.code == 10000) {
                    if (res.data == null) {
                        return;
                    }

                    var info = res.data;
                    var html = ""
                    if (info.ElevatorNum) {
                        if (info.ElevatorNum == "") {
                            html = "不涉及";
                        } else {
                            var url = "../doc/elevator_tip.html?key=" + encodeURIComponent(info.ElevatorNum);
                            html = info.ElevatorNum + "&nbsp;&nbsp;<a style='color:#134da5;' data-href='" + url + "' onclick='javascript:app.openWinFromWin(this)'><i class='fa fa-info'></i>&nbsp;详情</a>";
                        }
                    }
                    $("#w_elevator_num").html(html);
                    $("#w_work_time").html(app.formatDateFromUnix(info.ShouldDealTime));
                    $("#w_work_person").html(info.Person);
                    $("#w_job_desc").html(info.JobDesc);

                    var list = info.PhotoList.split(",");

                    var tmpl = '<li class="weui-uploader__file" style="background-image:url(#url#)"></li>',
                        $gallery = $("#gallery"),
                        $galleryImg = $("#galleryImg"),
                        $uploaderFiles = $("#uploaderFiles");
                    list.forEach(function (v, i, a) {
                        $uploaderFiles.append($(tmpl.replace('#url#', v)));
                    });

                    $uploaderFiles.on("click", "li", function () {
                        $galleryImg.attr("style", this.getAttribute("style"));
                        $gallery.fadeIn(100);
                    });
                    $gallery.on("click", function () {
                        $gallery.fadeOut(100);
                    });

                } else {
                    app.error(res.msg);
                }
            }
        </script>